.popularSearch{
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  background-color: #fff;
  z-index: 999;
  .title{
    border-top: 1px solid #a6a6a6;
    padding-top: 10px;
    color: #707070;
    margin-bottom: 10px;
  }
  .item{
    img{
      width: 18px;
      height: 10px;
    }
  }
}