.modalCommands {
  display: flex;
  flex-direction: column;
  justify-content: center;

  * {
    margin: 0;
    padding: 0;
  }

  .command {
    padding: 5px 20px;
    margin-top: -1px;
    border: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    div {
      gap: 2px;
      display: flex;
      flex-direction: column;
    }

    .desc {
      font-size: 11px;
      color: #8BB5EB;
    }

    img {
      width: 30px;
    }
  }

  .template_add{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    p{
      color: #707070;
    }
    .plus{
      cursor: pointer;
      border-radius: 10000px;
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--accent);
    }
  }


}