.thanks{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px 80px;
  p:nth-child(1){
    font-weight: 500;
  }
  animation: close .25s;
  animation-delay: 1.75s;

  @keyframes close {
    from{
      opacity: 1;
    }
    to{
      opacity: 0;
    }
  }
}