// CardSummary.tsx
.agreement-link {
  text-decoration: none;
  color: #1E7CF2;
  font-weight: bold;
}

// GoodsList.tsx
.indicator-container1{
  position: absolute;
  left: 60px;
  top: 45%;
  display: flex;
  //width: 35px;
  //height: 25px;
  justify-content: center;
  align-items: center;

  //position: absolute;
  //left: 0;
  //top: 50%;

}

.ind-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator-container2{
  display: inline;
  position: absolute;
  right: 5px;
  top: 3px;
}

.ind-link{
  display: block;
  flex-basis: 66%;

}
.ind-link2{
  flex-basis: 80%;
}

.high-order-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.unauth-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}