#panel_chat-desktop {
  * {
    scrollbar-width: thin;
  }
}

.centered_flex {
  box-shadow: 0 -3px 4px -2px rgba(0, 0, 0, .15);
  height: 80vh;
  width: 490px;
  margin: 135px calc(50% - 250px) 85px calc(50% - 240px);
  //box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, .1);
  padding-bottom: 70px;
  //overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;

  .messages {
    box-sizing: border-box;
    height: 100%;
    //padding-bottom: 60px;
    margin-bottom: -85px;
    @media screen and (max-height: 900px) {
      padding-bottom: 60px;
    }
  }

  .loader {
    height: 100%;
  }

  &.pt {
    padding-top: 60px;
  }

  .chat-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    z-index: 3;
    top: 134px;
    width: 494px;
    margin-left: -3px;
    left: auto;
    padding: 10px 40px;
    box-sizing: border-box;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .1), inset 0 2px 2px 0 rgba(0, 0, 0, .2);

    .col {
      flex-direction: column-reverse;
    }

    h1, p {
      text-align: left;
      margin: 0;
    }

    p {
      font-weight: 700;
      color: #707070;
      font-size: 16px;
    }

    h1 {
      font-size: 18px;
      color: #000;
      margin-bottom: 5px;
    }

    .staff {
      display: flex;
      align-items: center;
      cursor: pointer;
      text-transform: capitalize;

      .Icon {
        margin-left: 10px;
        display: inline-block;
      }
    }
  }

  .chat_inputs {
    z-index: 2;
    box-sizing: border-box;
    padding-right: 20px;
    position: fixed;
    bottom: 40px !important;
    width: 320px;
    padding-left: 20px;
    margin-bottom: 5px;
    transition: all .25s ease;
    margin-left: 90px;
    background: transparent;
    .search {
      position: absolute;
      bottom: 26px;
      left: 32px;
      height: 25px;
      z-index: 100001
    }

    &.bottom {
      bottom: 0;
    }

    .helpers {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      gap: 10px;
      transition: all .25s ease;
      z-index: -1;
      opacity: 0;
      height: 36px;

      &.hidden {
        height: 0;
      }

      .helpers-item {
        cursor: pointer;
        padding: 3px 10px;
        border: none;
        border-radius: 30px;
        display: flex;
        color: #5F81FC;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        font-size: 12px;
        box-shadow: 1px 1px 10px #5F81FC;
      }
    }

    textarea {
      box-sizing: border-box;
      min-height: 40px !important;
      height: 40px;
      width: 100%;
      resize: none;
      transition: var(--transition);
      border-radius: 22px;
      margin: 6px 0 12px 0;
      overflow: hidden;
      color: #707070;
      box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
      border: 0;
      font-size: 14px;
      //padding: 12px 135px 5px 40px;
      padding: 13px 135px 5px 40px ;
      background: #fff none;
    }

    .icons {
      margin-right: 20px;
      height: 47px;
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 12px;
      right: 5px;
      gap: 5px;
      color: #a6a6a6;
      z-index: 10000000;

      @supports not(gap:5px) {
        .Icon, img {
          margin-right: 5px;
        }
      }

      .Icon, img {
        cursor: pointer;
      }
    }

    .vl {
      height: 60%;
      border-right: 1px solid #a6a6a6;
    }
  }

  //.chat_inputs {
  //    box-sizing: border-box;
  //    padding-right: 20px;
  //    position: fixed;
  //    bottom: 40px!important;
  //    width: 320px;
  //    padding-left: 20px;
  //    margin-bottom: 5px;
  //    transition: all .25s ease;
  //    //background: #fff;
  //    z-index: 2;
  //    //box-shadow: 0 50px 0 1px #fff;
  //    margin-left: 90px;
  //
  //    &.bottom {
  //        bottom: 0;
  //    }
  //    .search{
  //        position: absolute;
  //        bottom: 18px;
  //        left: 30px;
  //    }
  //
  //    .helpers {
  //        position: relative;
  //        display: grid;
  //        grid-template-columns: 1fr 1fr 1fr;
  //        width: 100%;
  //        gap: 10px;
  //        transition: all .25s ease;
  //        //transform: translateY(40px);
  //        z-index: -1;
  //        opacity: 0;
  //        height: 36px;
  //        &.hidden{
  //            height: 0;
  //        }
  //
  //        .helpers-item {
  //            cursor: pointer;
  //            padding: 3px 10px;
  //            border: none;
  //            border-radius: 30px;
  //            display: flex;
  //            color: #5F81FC;
  //            justify-content: center;
  //            align-items: center;
  //            text-align: center;
  //            background-color: #fff;
  //            font-size: 12px;
  //            box-shadow: 1px 1px 10px #5F81FC;
  //        }
  //    }
  //
  //    textarea{
  //        padding-left: 40px;
  //        box-shadow: 1px 1px 10px rgba(0,0,0,.25);
  //        border: 0;
  //        font-size: 14px;
  //        padding-top: 12px;
  //        background-color: #fff;
  //    }
  //
  //    .input-container {
  //        height: 40px !important;
  //        padding: 0 5px;
  //
  //        input {
  //            height: 40px !important;
  //            width: calc(100% - 170px);
  //        }
  //    }
  //
  //    .icons {
  //        padding-right: 20px;
  //        height: 40px;
  //        display: flex;
  //        align-items: center;
  //        position: absolute;
  //        bottom: 12px;
  //        right: 5px;
  //        flex-direction: row-reverse;
  //        gap: 5px;
  //        color: #a6a6a6;
  //
  //        .Icon, img {
  //            cursor: pointer;
  //        }
  //    }
  //
  //    .vl {
  //        height: 75%;
  //        border-right: 1px solid #a6a6a6;
  //    }
  //}
}

.filterTypes {
  width: 1165px;
  left: calc(50% - 585px);
  display: flex;
  align-items: center;
  position: fixed;
  top: 85px;
  z-index: 100;
  justify-content: space-between;

  .Link {
    margin-top: 15px;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    cursor: pointer;

    &.active {
      font-weight: 800;
      text-decoration: underline;
    }
  }
}

.sidebar {
  padding-left: 15px;
  position: fixed;
  height: calc(100% - 190px);
  left: calc(50% - 585px);
  margin: 135px 0 40px;
  min-width: 341px;
  max-width: 341px;
  box-sizing: border-box;

  .chats-list {
    overflow: auto;
    max-height: calc(100vh - 80px * 4);
  }

  &.scrolling {
    overflow: scroll;
    left: calc(50% - 685px);

    .chats-container {
      margin-left: -10px;
      margin-right: 10px;
    }
  }

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 30px;
}

.right-cart {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  width: 328px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 30px;
  position: fixed;
  min-height: calc(100% - 190px);
  max-height: calc(100% - 190px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  right: calc(50% - 580px);
  margin: 135px 0 40px;

  .ui-checkbox {
    input {
      margin-left: 10px;
      margin-right: 0;
    }
  }

  .cart-item {
    margin-bottom: 15px;
  }

  .cart-empty {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .row {
      flex-basis: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 5px;

      h3 {
        color: black;
        font-size: 22px;
        font-weight: 600;
      }

      h3, p {
        margin: 0;
        width: fit-content;
        flex-basis: fit-content;
      }

      p {
        margin-top: 7px;
      }
    }


    h1 {
      flex-basis: 20%;
    }

    div {
      flex-basis: 40%;
    }

    p, .Link {
      flex-basis: 10%;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 25px;
      height: 25px;
    }

    h1 {
      font-size: 20px;
      color: black
    }

    text-align: center;
    color: #000000;

    padding: 0 30px;
  }

  .cart-name {
    .row {
      align-items: center;
      justify-content: space-between;
      display: flex;

      .row {
        margin-bottom: 10px;
      }
    }

    p {
      margin: 0 0 10px;
    }

    .count p {
      margin: 15px 0;
    }

    h3 {
      font-size: 22px;
      padding: 0;
      margin: 0 0 10px;
    }

    .vkuiCheckbox {
      height: 20px;
      padding-right: 0;
    }

    .vkuiTappable--active-background {
      background: none;
    }
  }

  &.scrolling {
    overflow: scroll;
    right: calc(50% - 685px);

    .chats-container {
      margin-right: -10px;
      margin-left: 10px;
    }
  }

  .summary {
    width: 100%;

    h2 {
      padding-left: 10px;
    }

    p {
      font-size: 9px;
      text-align: center;
      padding: 0 20px;
    }

    .button-box {
      margin-left: 0;
      margin-right: 0;
    }

    button {
      width: 100%;
      margin: 0;
    }
  }

  .count {
    display: flex;
    align-items: center;
    gap: 25px;
    border: 1px solid;
    width: fit-content;
    padding: 0 15px;
    border-radius: 5px;
    margin: 20px 0;

    .Icon {
      cursor: pointer;
    }
  }
}

.chat-header-text {
  margin-left: 0;
  width: 100%;
  display: flex;
  justify-self: start;
  align-self: flex-start;
  z-index: -2;
  box-shadow: 0 2px 8px -3px rgba(0, 0, 0, .3);
  margin-bottom: 25px;

  h3 {
    margin: 15px 0;
    font-size: 22px;
    font-weight: 500;
    margin-left: 20px;
  }
}
