.modalFastResponse {
  padding: 0 20px 20px;
  background-color: #fff;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .p_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;


    p {
      cursor: pointer;
      padding: 10px 20px;
      margin-left: -20px;
      margin-right: -20px;
      display: flex;
      align-items: center;
      gap: 20px;
      border: 1px solid #e0e0e0;
      margin-top: -1px;

      @supports not (gap:20px) {
        img{
          margin-right: 20px;
        }
      }
    }
  }

  .tab {
    text-align: center;

    h1 {
      font-size: 24px;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      padding: 0 20px;
    }

    .vkuiRadio {
      margin-top: 15px;
      padding: 5px;
      border-radius: 5px;
    }

    .vkuiRadio__container {
      display: flex;
      gap: 10px;
      flex-direction: column-reverse;

      .Radio__children {
        font-weight: 600;
        margin: 0;
      }

      i {
        border-color: #1E7CF2;
      }
    }

    &.notcool {
      p {
        margin-bottom: 20px;

        &:nth-of-type(1) {
          font-weight: 400;
        }
      }
    }

    .inputWithSendBtn {
      position: relative;
      display: flex;
      align-items: center;

      .input-container {
        width: 100%;
        height: 40px;
        gap: 5px;

        input {
          width: 80%;
        }
      }

      img {
        position: absolute;
        right: 10px;
        cursor: pointer;
      }
    }
  }

  .cry {
    .inputWithSendBtn {
      .Icon {
        position: absolute;
        left: 5px;
        z-index: 1000;
      }

      img {
        z-index: 1000;
      }

      .vkuiFormField__after {
        visibility: hidden;
      }

      .vkuiSelect__container {
        padding-left: 35px;
      }

      .vkuiFormField__border {
        border: 0.5px solid #a7a7a7;
        border-radius: 22px;
        background-color: #fff;
      }

      .vkuiRadio__icon {
        margin: 0 !important;
      }

      .CustomSelect {
        width: 100%;
      }
      
      //.vkuiSelect__title{
      //  width: calc(100vw - 150px);
      //}
    }
  }


}

.vkui__portal-root {
  z-index: 100000;
  position: relative;

  .vkuiPopper__content {
    width: 100%;
    max-width: 100%;
  }
}
