.loader {
  z-index: 10000;
  border-radius: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  .fs {
    height: 56vh;
    padding-top: 44vh;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .small{
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      border-radius: 100px;
      margin-top: 60px;
    }
  }
}