.maxPinnedAlert{
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0,0,0,.25);
  border-radius: 20px;
  padding: 15px 20px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  p{
    width: 100%;
    text-align: center;
  }
  .Link{
    cursor: pointer;
  }
}