@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
.logo {
    margin: 50px 0 10px;
    height: 60px;
    width: 210px;
}

@media screen and (max-width: 375px) {
    .logo {
        margin: 30px 0 5px;
        height: 50px;
        width: 175px;
    }
}

:root {
    --move: calc((var(--vh, 1vh) * 100) / 2 - 60px);
}

.chat {
    --move: calc((var(--vh, 1vh) * 100) / 2 - 100px);
}

.chat[mobile='true'] {
    --move: calc((var(--vh, 1vh) * 100) / 2 - 45px);
}

.container__search {
    background-color: var(--background_content);
    border-radius: 30px;
    border: 1px solid #e0e0e0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
    width: 90%;
    max-width: 585px;
    height: 42px;
    transition: padding 0.55s;
    overflow: hidden;
    &:hover{
        box-shadow: 1px 1px 10px rgba(0,0,0,.25);
        border: none;
    }
    @media screen and (max-width: 768px) {
        //border: none;
    }
}

.container__search.expanded {
    padding-bottom: 150px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.25);
    border: none;
}

@media screen and (max-width: 1024px) {
    .container__search.expanded {
        padding-bottom: 200px;
    }
}

@media screen and (max-width: 768px) {
    .container__search.expanded {
        padding-top: 120px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .container__search.expanded {
        padding-top: 105px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 425px) {
    .container__search.expanded {
        padding-top: 85px;
        .container__search_action{
            padding-top: 5px;
        }
    }
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover{
        box-shadow: none!important;
    }
    @media screen and (max-width: 768px) {
        height: 35px;
        border: none;
        border-radius: 30px;
    }
}

.search__input {
    border: none;
    width: 100%;
    font-size: 20px;
}

@media screen and (max-width: 375px) {
    .search__input {
        font-size: 17px;
    }
}

.search_action {
    z-index: -1;
    height: 0;
    opacity: 0;
    transition: 0.5s opacity;
}

.search_action.expanded {
    opacity: 1;
    z-index: 1;
}

.container__search_action {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .button-main-mobile{
        margin: 0;
        padding: 7px 23px;
        button{
            height: 100%;
        }
    }
    .button-box {
        box-shadow: 0 2px 24px 0 rgba(0,0,0,.2),0 0 2px 0 rgba(0,0,0,.08);
        border-radius: 30px;
        margin: 5px 5px;
        display: inline;

        .vkuiButton__content {
            font-weight: 400 !important;
            font-size: 16px;
        }

        button {
            box-shadow: none;
            border: none;
        }
    }
    >div {
        display: inline;
    }
    &:last-child .button-main{
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
    }
    &.container__search_action-mobile {
        @media screen and (max-width: 768px) {
            margin-top: -120px;
            justify-content: center;
        }
        @media screen and (max-width: 500px) {
            margin-top: -100px;
        }
        @media screen and (max-width: 425px) {
            margin-top: -90px;
        }
    }
}

.search__logo {
    padding: 8px;
}

.searchWrap[mobile='false'] {
    width: 75vw;
}

.attachButton {
    margin-right: 4px;
}

.sendButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    margin-left: 6px;
    color: white;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    margin-bottom: 7px;
}

.searchIconImg {
    width: 24px;
    padding: 2px 2px 0 6px;
    @media screen and (max-width: 768px) {
        width: 18px;
    }
}

.cameraIconImg {
    width: 32px;
    padding: 0 6px;
    @media screen and (max-width: 768px) {
        width: 28px;
    }
}

.newImg {
    position: fixed;
    width: 36px;
    height: 36px;
    transform: translate(-10px, -32px);
    &.hide {
        display: none;
    }
    @media screen and (max-width: 425px) {
        transform: translate(-10px, -20px);
        width: 24px;
        height: 24px;
    }
}

.showTip {
    z-index: 2;
    position: fixed;
    transform: translate(-66px, -6px);
    display: none;
    padding: 10px 18px 0 20px;
    background: url('../../img/main/tip-before.svg');
    background-size: cover;
    p {
        white-space: nowrap;
        font-size: 14px;
        margin: 4px 2px;
        color: #888;
        font-weight: 300;
    }
    &.active {
        display: block;
    }
    @media screen and (max-width: 425px) {
        transform: translate(-37px, -4px);
        padding: 4px 6px;
        background: no-repeat url('../../img/main/tip-before.svg');
        background-size: contain;
        p {
            font-size: 10px;
            margin: 4px 4px;
            color: #888;
            font-weight: 300;
            white-space: nowrap;
        }
    }
}

.closerTip {
    position: fixed;
    transform: translate(65px, -64px);
    display: none;
    width: 14px;
    &.active {
        display: block;
    }
    &.hide {
        display: none;
    }
    @media screen and (max-width: 425px) {
        transform: translate(50px, -49px);
        width: 10px;
    }
}

.searchButton {
    padding: 6px 40px !important;
    font-family: arial, sans-serif;
    border-radius: 50px !important;
    font-weight: normal !important;
    border-color: var(--grey) !important;
    color: var(--grey) !important;
    box-shadow: inset 0 0 0 1px var(--grey) !important;
}


/* .searchButton:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #c6c6c6;
} */

.screenCloser {
    position: absolute;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 99;
    background: black;
    opacity: 0.3;
}

.container__chat {
    width: 90vw;
    max-width: 500px;
    justify-content: end;
}

.writebar {
    border-radius: 30px;
    border-color: hotpink;
    border-style: solid;
}

.writebar__bottom {
    position: fixed;
    bottom: 100px;
    height: 100%;
}

.chatButtons {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 6px;
    color: gray;
}

.bigLogo {
    position: absolute;
    height: 44px;
    opacity: 0;
    left: 42px;
    top: 7px;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    z-index: 95;
}

.bigLogo__mobile {
    position: absolute;
    height: 34px;
    opacity: 0;
    left: 54px;
    top: 7px;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    z-index: 95;
}

.FixedLayout--top {
    width: 100% !important;
    left: 0 !important;
}

.vkuiSplitLayout__inner {
    background: white !important;
}

.searchButtons {
    .button-main-mobile{
        margin: 0;
        padding: 11px 23px;
        button{
            height: 100%;
        }
    }
    .button-box {
        box-shadow: 0 2px 24px 0 rgba(0,0,0,.2),0 0 2px 0 rgba(0,0,0,.08);
        border-radius: 30px;

        button {
            border: none;
            min-height: 40px;
        }
    }
}