.input-container {
    width: calc(100% - 10px);
    padding: 5px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 0.5px solid rgb(167, 167, 167);
    border-radius: 22px;
    margin: 6px 0 12px 0px;
    height: 30px;
    position: relative;
    .passwordTip {
        z-index: -1;
        opacity: 0;
        transition: 0.3s;
        position: absolute;
        background: rgba(255, 235, 232, 1);
        border: 1px solid rgba(238, 147, 124, 1);
        border-radius: 18px;
        padding: 5px 10px;
        width: calc(100% - 20px);
        height: calc(100% - 10px);
        top: -1px;
        right: -1px;
        display: flex;
        align-items: center;
        &.hide {
            display: none;
        }
        @media screen and (max-width: 375px) {
            bottom: -54px;
        }
        p {
            margin: 0 15px 0 5px;
            color: red;
            opacity: 0.6;
            font-size: 12px;
            @media screen and (max-width: 500px) {
                font-size: 10px;
            }
            @media screen and (max-width: 360px) {
                font-size: 9px;
            }
            &.date,
            &.tel {
                font-size: 11px;
                @media screen and (max-width: 500px) {
                    font-size: 9px;
                }
                @media screen and (max-width: 360px) {
                    font-size: 8px;
                }
            }
        }
    }
    &.error,
    &.undefined {
        border: 1px solid red;
        .passwordTip {
            opacity: 1;
            z-index: 2;
        }
    }
    &.right {
        border: 1px solid var(--green);
    }
    >.vkuiIcon {
        margin-left: 3px;
    }
    @media screen and (max-width: 500px) {
        height: 30px;
        padding: 0 5px;
    }
}

.iconCloser {
    position: absolute;
    right: 13px;
    cursor: pointer;
    @media screen and (max-width: 500px) {
        top: 8px !important;
    }
    &.last-numbers {
        right: 55px;
    }
    &.date {
        right: 40px !important;
        top: 12px !important;
        @media screen and (max-width: 500px) {
            top: 6.5px !important;
        }
    }
}

.input-main {
    width: 100%;
    height: 24px;
    background: none;
    border-radius: 30px;
    border: none;
    transition: var(--transition);
    margin: 0 7px;
    white-space: nowrap;
    &.small {
        padding: 4px 19px;
    }
    &.medium {
        padding: 9px 38px;
    }
    &.large {
        padding: 18px 50px;
    }
    &.secondary {
        background: var(--blue);
        color: white;
    }
    &.primary {
        border: none;
        background: var(--orange);
        color: white;
    }
    &.disabled {
        filter: grayscale(90%);
        cursor: default;
    }
}

.refreshTimer {
    padding: 0 5px;
    border-left: 1px solid grey;
    height: 100%;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 500px) {
        font-size: 13px;
    }
    svg {
        cursor: pointer;
    }
}