.orders {
  margin-top: -20px;

  .order_tab{
    padding-left: 20px;
    padding-right: 20px;
    p{
      color:#707070;
      @media screen and (min-width: 1024px) {
        text-align: center;
        width: 100%;
        font-size: 20px;
      }
    }
    .button-box{
      margin-left: 0;
      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: center;
      }
      button{
        border-radius: 10px;
        margin-left: 0;
      }
    }
  }

  .vkuiFormItem {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      display: block;
      width: 200px;
      min-width: 200px;
    }

    .orderType{
      display: flex;
    }

    label {
      width: 100px;
      margin-right: 20px;

      .vkuiIcon {
        color: #000;
      }
    }

    .date {
      display: flex;
      align-items: center;
      width: 200px;
      margin-right: 10px;
      .input-container {
        height: 30px;
        box-sizing: border-box;
        margin-left: 10px;
        border: 2px solid #707070;
        border-radius: 10px;
      }
    }
  }

  .getBtn {
    width: 100%;

    .button-box {
      margin-right: 40px;

      button {
        width: 100%;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .fullBlue {
    background-color: #1E7CF2;
    color: #fff;
    border: none;

    .vkuiTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      color: #fff;
    }
  }

  .table {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 300px;
    overflow: auto;

    .title {
      color: #1E7CF2;
      font-weight: 600;
      font-size: 20px;

      div {
        text-decoration: none !important;
        cursor: auto !important;
      }
    }

    .row {
      width: 100%;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      padding: 5px 0;

      div {
        text-align: center;
        margin-right: 5px;
        width: 145px;
      }

      div:nth-of-type(4) {
        width: 200px;
      }

      div:nth-of-type(1) {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .header_card {
    display: flex;
    justify-content: space-between;

    h2 {
      width: 100%;
    }

    .sb {
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-align: left;
    }

    .center {
      width: 100%;
      text-align: center;
    }

    .btns {
      display: flex;

      button {
        margin-right: 10px;
        margin-left: 40px;
        font-size: 20px;
      }
    }
  }

  .orderInfoItem {
    display: flex;

    p {
      margin-right: 50px;
    }

    p:nth-of-type(1) {
      min-width: 150px;
    }
  }

  .grid-2-2 {
    display: flex;
    width: calc(100% - 115px);
    label {
      display: flex;
      align-items: center;
    }
  }

  .grid-date {
    display: flex;
    align-items: center;
    .date {
      &.left .input-container {
        margin-left: 20px;
      }
    }
  }

  .mob {
    .vkuiFormItem {
      align-items: center;

      label {
        width: available;
        margin: 0 calc(-1 * var(--formitem_padding) + 10px);
        &:nth-of-type(1){
          margin-right: 10px
        }
      }

      p {
        width: 100px;
        margin-right: 10px;
        min-width: 100px;
      }

      .grid-2-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        label {
          display: flex;
          align-items: center;
        }
      }

      .grid-date {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      &.getBtn {
        width: fit-content;
        margin: 0 auto;

        .button-box {
          margin: 0;
        }

        button {
          margin: 0 auto;
          width: fit-content;
        }
      }
    }

    .fullBlue {
      margin-bottom: 10px;

      .sb {
        display: flex;
        flex-direction: column;

        span {
          margin: 5px 0;
        }
      }
    }

    .ordersList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .order {
        margin-bottom: 10px;

        .vkuiCard, .vkuiCard__in {
          padding: 10px 7px;
          box-sizing: border-box;
          margin-bottom: 0 !important;
          display: block !important;
        }

        .orderCard {
          display: flex;
          flex-direction: column;

          div {
            margin-bottom: 20px;
            display: flex;
            align-items: center;

            span {
              width: 50%;
              min-width: 50%;
            }
          }

          .button-box {
            margin-bottom: 0;

            button {
              margin: 0 auto;
              border-radius: 10px;
            }
          }
        }
      }
    }

    &.orderPage {
      .header_card {
        padding: 15px 10px;
        border-bottom: 1px solid #707070;
      }
      .orderInfoItem{
        display: flex;
        flex-direction: column;
        *{
          margin: 0;
        }
        p:nth-child(1), span:nth-child(1){
          font-weight: 500;
          margin-bottom: 5px;
        }
        p:nth-child(2), span:nth-child(2){
          margin-bottom: 10px;
        }
      }
      .fullBlue{
        .span{
          justify-content: center;
          text-align: center;
        }
      }
    }
    .orderPart{
      box-sizing: border-box;
      padding: 12px 16px;
      h1{
        margin: 0 0 15px;
      }
    }
    .res{
      display: flex;
      flex-direction: column;
      width: 100%;
      .item{
        margin-bottom: 10px;
        margin-left: 20px;
      }
      .item div:nth-child(1){
        color: #707070;
      }
      .item div:nth-child(2){
        font-weight: 500;
      }
    }
    .fullBlue .header_card{
      border: 0;
    }
    .vkuiCheckbox{
      padding: 0 5px;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 370px) {
    .grid-2-2{
      grid-template-columns: 1fr!important;
      grid-template-rows: auto!important;
      label{
        width: 100%;
      }
    }

    .date{
      width: min-content!important;
    }

    .orderType{
      flex-direction: column;
    }
  }
}