.notifacations{
  margin-top: -20px;
  p{
    padding-left: 20px;
    padding-right: 20px;
    color:#707070;
    @media screen and (min-width: 1024px) {
      text-align: center;
      width: 100%;
      font-size: 20px;
    }
  }
  h1{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .socialList{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    color: #707070;
    font-weight: 500;
    font-size: 20px;
    &>div{
      display: flex;
      align-items: center;
      justify-content: space-between;

      button{
        font-weight: 600;
        font-size: 20px;
        border-radius: 10px;
        padding: 5px 30px;
      }
    }
  }
  .mob{
    .socialList{
      border-radius: 10px;
      box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
      padding: 15px 20px;
      box-sizing: border-box;
      div, button{
        font-size: 18px;
      }
    }
  }
}