.chat {
  --move_messages: calc(var(--vh, 1vh) * 100 - 140px - 100px);
}

.chat[mobile="true"] {
  --move_messages: calc(var(--vh, 1vh) * 100 - 125px);
}

.messages {
  display: flex;
  flex-direction: column;
   height: max-content;
  /*height: var(--move_messages);*/
  width: 100%;
  margin-left: 6px;
  overflow: auto;
  margin-top: 20px;
  animation: show 1s 1;
  animation-fill-mode: forwards;
}


.chat[mobile="true"] .messages {
  width: 96vw;
}

.message {
  display: flex;
  padding: 6px 12px;
}

.messageWrapper{
  border-radius: 15px;
  position: relative;
  transition: all .15s ease;
  margin: 5px 10px 5px 0;
}

.messageWrapper .circle{
  height: 20px;
  width: 20px;
  border-radius: 10000px;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: rgba(30, 124, 242, 0.6);
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
  transition: all .15s ease;
}

.messageWrapper .circle.hidden{
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.selected_controls{
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 2px 24px 0 rgba(0,0,0,.2),0 0 2px 0 rgba(0,0,0,.2);
  position: fixed;
  box-sizing: border-box;
  border-radius: 15px;
  background: #fff;
  z-index: 2;
  color: #707070;
  bottom: 110px;
  width: 475px;
  transition: all .2s ease;
}

.selected_controls.mobile{
  width: calc(100% - 40px);
  bottom: 150px;
}

.selected_controls.higher{
  bottom: 150px;
}



.scrollDown{
  border-radius: 1000px;
  background-color: #fff;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 160px;
  z-index: 3;
  right: 20px;
  cursor: pointer;
  box-shadow: 0 2px 24px 0 rgba(30, 124, 242, 0.4),0 0 2px 0 rgba(30, 124, 242, 0.3);
  transition: all .1s ease-out;
}

.scrollDown.higher{
  bottom: 205px;
}

@media screen and (min-width: 1024px) {
  .scrollDown{
    position: absolute;
    right: 30px;
    bottom: 70px;
  }
  .scrollDown.higher{
    bottom: 120px;
  }
}

.doted{
  padding-left: 30px;
}

.selected{
  background-color: rgba(0,0,0,.15);
}

.outgoing {
  justify-content: flex-start;
}

.incoming {
  justify-content: flex-end;
}

.MessageText {
  display: flex;
  padding: 6px 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 80%;
  color: antiquewhite;
}

.incoming .MessageText {
  background-color: rgb(24, 120, 243) 
}

.outgoing .MessageText {
  color: black;
}

.MessageText__container {
  /* width: 70vw; */
}

.MessageText__sender {
  padding-bottom: 4px;
  opacity: 0.7;
}

.IconStatusMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.IconStatusMessage__time {
  opacity: 0.4;
  font-size: 11px;
  padding-right: 6px;
}

.IconStatusMessage .vkuiSpinner {
  width: min-content;
}

.IconStatusMessage__two {
  margin-left: -10px;
}


.messages > :first-child {
  margin-top: auto !important;
}

.message__content {
  max-width: 80%;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: rgb(24, 120, 243);
  border-radius: 11px;
  color: antiquewhite;
}

.colorOutg {
  background-color: rgb(190, 190, 190);
}

.message__content[mobil="true"] {
  font-size: 13px;
}



/* .outgoing {
  display: flex;
  justify-content: flex-end;
  padding-right: 6px;
} */

/* .Card__in {
  max-width: 100%;
} */

/* .outgoing .Card__in {
  display: inline-block;
  margin-left: auto;
} */

/* .incoming .Card__in {
  background: var(--im_bubble_incoming);
} */

/* .message .Card {
  border-radius: 11px;
} */

.message__avatar {
  width: 36px;
  display: flex;
  align-items: flex-end;
  padding-right: 8px;
}


.message__sender {
  padding-left: 12px;
  padding-bottom: 4px;
  opacity: 0.7;
}

.message__time {
  font-size: 11px;
  text-align: right;
  padding-top: 3px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 6px;
  opacity: 0.4;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  transition: ease;
  background: #a5a2a2;
  border-radius: 5px;
  opacity: 0.6;
}

.cardClose {
  display: none;
}

.cardCloseSmall {
  animation-name: close;
  animation-duration: 1s;
  -webkit-animation-name: close;
  -webkit-animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes close {
  0% {
    max-width: 600px;
  }
  50% {
    width: 100px;
  }
  100% {
    display: none;
  }
}

.chatCardsContainer {
  animation-name: openCardSmall;
  animation-duration: 0.3s;
  -webkit-animation-name: openCardSmall;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: forwards;
  font-family: Arial;
  max-width: 600px;
  background-color: rgb(24, 120, 243);
  border-radius: 11px;
  color: white;
  margin-top: 10px;
}

@keyframes openCardSmall {
  0% {
    max-width: 100px;
  }

  100% {
    max-width: 600px;
  }
}

@keyframes openCardSmallImg {
  0% {
    max-width: 30px;
  }

  100% {
    max-width: 150px;
  }
}

.chatCardsContainer[mobil="true"] img {
  max-width: 100px;
  animation-name: openCardSmallImgMobile;
  animation-duration: 0.3s;
  -webkit-animation-name: openCardSmallImgMobile;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.chatCardsContainer img {
  animation-name: openCardSmallImg;
  animation-duration: 0.3s;
  -webkit-animation-name: openCardSmallImg;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: forwards;
  max-width: 120px;
  padding-left: 8px;
  padding-top: 10px;
}

.chatCardsContainer[mobil="true"] {
  animation-name: openCardSmallMobile;
  animation-duration: 0.3s;
  -webkit-animation-name: openCardSmallMobile;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: forwards;
  font-size: 12px;
  max-width: 350px;
}

@keyframes openCardSmallMobile {
  0% {
    max-width: 100px;
  }

  100% {
    max-width: 450px;
  }
}
@keyframes openCardSmallImgMobile {
  0% {
    max-width: 30px;
  }

  100% {
    max-width: 110px;
  }
}

.chatCard {
  display: flex;
  flex-direction: column;
}

.chatCardTitle {
  color: black;
}

.chatCardContent {
  display: flex;
}

.chatCardContent svg {
  display: flex;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.chatCardFoto {
  display: flex;
  flex-direction: column;
}

.chatCardFoto svg {
  padding-left: 10px;
}

.chatCardDiscription[mobil="true"] {
  padding-left: 10px;
  padding-right: 5px;
}

.chatCardDiscription {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px 30px;
  justify-content: space-around;
}

.chatCardIcon {
  display: flex;
  padding-left: 8px;
  padding-bottom: 5px;
}

.chatCardIcon button {
  width: 110px;
  background-color: rgb(248, 150, 29);
  margin-right: 30px;
  border: none;
  color: white;
  border-radius: 3px;
}

.chatCardIcon[mobil="true"] button {
  width: 60px;
  margin-right: 7px;
  border-radius: 2px;
  font-size: 11px;
}

.chatCardIcon svg {
  width: 18px;
  height: 18px;
}

.chatCardIconBetween[mobil="true"] {
  width: 110px;
}

.chatCardIconBetween {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.chatCardIconBetween[mobil="true"] svg {
  width: 15px;
  height: 15px;
}

.chatCardbtntime {
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  flex-basis: auto;
  flex-shrink: 7;
  margin-right: 10px;
}

.chatCardbtntime[mobil="true"] {
  width: 65%;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 0;
}

.chatCardbtntime small {
  margin-right: 10px;
}
.chatCardbtntime[mobil="true"] small {
  margin-right: 7px;
}

.chatCardbtntime svg {
  width: 10px;
  height: 12px;
  /* padding-bottom: 15px; */
}

.chatCardbtntime[mobil="true"] svg {
  width: 10px;
  height: 12px;
}

.chatCardOpenArray {
  margin-right: 15px;
  margin-left: auto;
}

.chatCardOpenArray[mobil="true"] {
  margin-right: 1px;
  margin-left: 10px;
  max-width: 22px;
  max-height: 22px;
}

.chatCardOpenArray svg {
  width: 25px;
  height: 25px;
}

.chatCardOpenArray[mobil="true"] svg {
  width: 18px;
  height: 18px;
}

.chatCardDown {
  animation-name: gr;
  animation-duration: 0.3s;
  -webkit-animation-name: gr;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: row;
  background-color: rgb(24, 120, 243);
  max-width: 600px;
  max-height: 250px;
  border-radius: 18px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chatCardDown img {
  animation-name: grow;
  animation-duration: 0.3s;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0% {
    max-width: 150px;
    max-height: 150px;
  }
  100% {
    max-width: 400px;
    max-height: 400px;
  }
}

@keyframes gr {
  0% {
    display: flex;
    flex-direction: row;
  }

  100% {
    max-height: 800px;
    max-width: 400px;
    flex-direction: column;
  }
}

@keyframes growMobile {
  0% {
    max-width: 150px;
    max-height: 150px;
  }
  100% {
    max-width: 90vw;
    max-height: 360px;
  }
}

@keyframes grMobile {
  0% {
    display: flex;
    flex-direction: row;
  }

  100% {
    max-height: 800px;
    max-width: 90vw;
    flex-direction: column;
  }
}

.chatCardDown[mobil="true"] {
  animation-name: grMobile;
  -webkit-animation-name: grMobile;
  max-width: 360px;
  border-radius: 16px;
}
.chatCardDown[mobil="true"] img {
  animation-name: growMobile;
  -webkit-animation-name: growMobile;
  border-radius: 16px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.swiper-pagination-bullets span {
  background-color: #fff;
}

.chatCardDownDis {
  width: 200px;
  padding-left: 15px;
}

.chatCardDownTtitle {
  padding-left: 15px;
}

.chatCardDown svg {
  width: 24px;
  height: 24px;
}

.chatCardIconTopDrop {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.chatCardDiscriptionDrop {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.chatCardIconDrop {
  width: 100%;
  padding: 30px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.cardDropTimeTick {
  display: flex;
  margin-right: 10px;
}

.cardDropTick {
  width: 30px;
  padding-left: 10px;
}

.cardDropTick svg {
  width: 12px;
  height: 15px;
}

.chatCardIconDrop button {
  width: 100px;
  background-color: rgb(248, 150, 29);
  margin-right: 20px;
  border: none;
  color: white;
  border-radius: 3px;
  position: relative;
  top: -7px;
}

.chatCardIconDrop[mobil="true"] button {
  width: 70px;
  margin-right: 10px;
  border-radius: 2px;
}

.chatCardDiscriptionDropBeetw {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

textarea {
  box-sizing: border-box;
  /*line-height: 40px;*/
  min-height: 40px !important;
  height: 40px;
  width: 100%;
  padding: 10px 135px 10px 10px;
  resize: none;
  background: none;
  transition: var(--transition);
  border: 1px solid #a7a7a7;
  border-radius: 22px;
  margin: 6px 0 12px 0;
  overflow: hidden;
  color: #707070;
}

.dotsLink img{
    width: 20px;
    position: absolute;
    right: 5px;
}