.checks { 
  margin-top: -20px;

  .checks_tab{
    padding-left: 20px;
    padding-right: 20px;
    p{
      color:#707070;
      @media screen and (min-width: 1024px) {
        text-align: center;
        width: 100%;
        font-size: 20px;
      }
    }
    .button-box{
      margin-left: 0;
      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: center;
      }
      button{
        border-radius: 10px;
        margin-left: 0;
      }
    }
  }
  h1{
    font-size: 36px;
    text-align: center;
    width: 100%;
    margin-bottom: 70px;
    font-weight: 500;
  }
  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      padding: 5px 10px;
      background-color: #E7E7E8;
      border-radius: 10px;
      width: 100%;
      margin-bottom: 15px;

      div {
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
        width: 20%;
      }
    }

    .title {
      background-color: #1E7CF2;
      color: white;
      font-size: 22px;
      font-weight: 500;
    }
  }

  .mob{
    .checks-list{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;

      .checkCard{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        h2{
          margin: 0;
        }
        .row{
          display: flex;
          justify-content: space-between;
          margin: 15px 0;
        }
      }
    }
  }
}