.button-box {
    margin: 7px 8px;
    &.full {
        width: 100%;
    }
    @media screen and (max-width: 560px) {
        margin: 1px 0;
    }
    &.tetrairy {
        margin: 6px 0 !important;
    }
}

.button-main {
    background: none;
    border-radius: 30px;
    border: 1px solid var(--grey);
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: var(--transition);
    white-space: nowrap;
    padding: 10px 32px;
    border: none;
    &.outline {
        border: 1px solid rgba(0, 0, 0, .5)
    }
    &.blue {
        color: var(--grey);
    }
    &.black {
        color: black;
    }
    &.button-main-mobile {
        @media screen and (max-width: 560px) {
            padding: 10px 16px;
            font-size: 17px;
            margin: 5px 10px;
        }
        @media screen and (max-width: 500px) {
            padding: 7px 13px;
            font-size: 14px;
            margin: 4px 10px;
        }
        @media screen and (max-width: 360px) {
            padding: 4px 18px;
            font-size: 14px;
            margin: 4px 10px;
        }
    }
    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
    &:active {
        background: rgba(0, 0, 0, 0.12);
    }
    &.secondary {
        font-size: 15px;
        background: var(--blue);
        color: white;
        &:hover {
            filter: brightness(0.9);
        }
        &:active {
            filter: brightness(0.8);
        }
    }
    &.primary {
        border: none;
        background: var(--orange);
        color: white;
        &:hover {
            filter: brightness(0.9);
        }
        &:active {
            filter: brightness(0.8);
        }
    }
    &.commerce {
        border: none;
        background: var(--green);
        color: white;
        font-size: 15px;
        &:hover {
            filter: brightness(0.9);
        }
        &:active {
            filter: brightness(0.8);
        }
    }
    &.tetrairy {
        border: none;
        color: black;
        font-size: 14px;
        padding: 2px 0 !important;
        opacity: 0.7;
        &:hover {
            background: none;
            text-decoration: underline;
        }
    }
    &.disabled {
        filter: grayscale(90%);
        cursor: default;
        &:hover {
            background: none;
        }
    }
    &.stretched {
        width: 100%;
    }
    &.error {
        background: rgba(255, 0, 0, 0.7);
    }
}