.PopoutWrapper--h-right{
  .vkuiPopoutWrapper__content{
    justify-content: flex-end;
  }
}

* {
  scrollbar-width: thin;
}

.mobileChat {
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;

  .backBtn {
    color: #a6a6a6;
  }

  .chat-messager {
    position: relative;
    width: 100%;
    margin-top: 285px;
    height: 100%;
    overflow: hidden;
    .messages.mobile{
      margin-bottom: 100px;
    }

    .chat-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      background-color: #fff;
      z-index: 10;
      top: 61px;
      width: 100%;
      left: 0;
      box-shadow: 0 -1px 2px #ccc;
    }

    .chat_inputs {
      position: fixed;
      bottom: 83px!important;
      width: calc(100% - 30px);
      background-color: #fff;
      padding-right: 20px;
      z-index: 2;
      transition: all .25s ease;
      .search{
        position: absolute;
        bottom: 23px;
        left: 13px;
        height: 25px;
      }
      &.bottom {
        bottom: 0!important;
      }


      .helpers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        gap: 10px;
        transition: all .25s ease;
        z-index: -1;
        opacity: 0;
        height: 33px;

        &.hidden{
          height: 0;
        }

        .helpers-item {
          cursor: pointer;
          padding: 0;
          border: 1px solid #5F81FC;
          border-radius: 30px;
          display: flex;
          color: #5F81FC;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: #fff;
          font-size: 14px;
        }
      }

      textarea{
        padding: 12px 135px 10px 40px;
        position: relative;
        z-index: 100000;
        box-shadow: 1px 1px 10px rgba(0,0,0,.25);
        border: 0;
      }

      .icons {
        margin-right: 20px;
        height: 47px;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 12px;
        right: 5px;
        gap: 5px;
        color: #a6a6a6;
        z-index: 10000000;

        @supports not(gap:5px) {
          .Icon, img{
            margin-right: 5px;
          }
        }

        .Icon, img {
          cursor: pointer;
        }
      }

      .vl {
        height: 60%;
        border-right: 1px solid #a6a6a6;
      }
    }
  }

  .chat-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
    position: relative;
    align-items: center;

    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;

      h1 {
        margin: 0 0 5px;
      }

      p {
        font-weight: 600;
        color: #707070;
        margin: 0;
        display: flex;
        align-items: center;
        span{
          cursor: pointer;
          text-transform: capitalize;
        }

        .Icon{
          margin-left: 10px;
          display: inline-block;
        }
      }
    }

    img{
      cursor: pointer;
    }

    .backBtn {
      position: absolute;
      left: 4px;
    }
  }

  .chats-head {
    background-color: #fff;
    z-index: 1;
    position: fixed;
    top: 61px;
    display: flex;
    padding: 0 5px 0 10px;
    justify-content: space-between;
    width: calc(100% - 45px);

    p {
      margin: 15px 0 0;
      font-size: 22px;
      font-weight: 500;
    }

    .Icon, img {
      margin: 15px 0;
    }
  }

  .medium{
    font-weight: 500;
  }

  .chats-search {
    z-index: 1;
    background-color: #fff;
    position: fixed;
    top: 120px;
    padding-bottom: 10px;
    width: calc(100% - 40px);

    img {
      width: 24px;
      margin-left: 8px;
    }

    .input-container {
      width: 100%;
      padding: 5px 2px 5px 0;
      margin: 0;
      background: #F0F0F0;
      border: none
    }

    input {
      width: 100%;
      font-size: 16px;
    }
  }

  .chats-list {
    margin-top: 150px;
    margin-bottom: 60px;
  }

  .chats-container, .chat-tab {
    width: 100%;

    .vkuiSimpleCell__children {
      width: 100%;

      .chat-tab__content {
        width: 100%;

        div {
          width: 100%;
        }
      }
    }
  }


  .no-chats-main {
    margin-top: 105px;
    margin-bottom: 100px;
  }

  .no-chats {
    text-align: center;
    font-size: 18px;

    .fsmall{
      font-size: 12px;
      margin-top: 0;
    }

    .small {
      font-size: 14px;
      color: #707070;
      padding: 0 40px;
    }
  }

  .chat-header-text {
    display: none;
  }

  .create-chat {
    margin: 0 0 100px;
    padding: 0 10px 10px 0;

    .create-chat-content {
      margin-left: 20px;
    }

    .button-main.button-main-mobile {
      position: absolute;
      width: 185px;
      left: calc(50% - 185px / 2);
      margin: 0;
      padding: 10px 16px;
      bottom: 100px;
    }
  }
}

