.vkuiPopper__content {
  max-width: 300px;
}

.product {
  margin-top: 50px;
  overflow: auto;
  padding: 30px 20px 70px;
  @media screen and (min-width: 1024px) {
    padding-top: 60px;
  }
  background-color: #fff;
  box-sizing: border-box;
  position: relative;

  h3, p.cost {
    margin: 10px 0;
    padding: 0;
  }

  .back {
    position: absolute;
    z-index: 1;
    left: -10px;
    top: -9px;
    @media screen and (min-width: 1024px) {
      top: -8px;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .reactions {
    border-radius: 15px;
    display: flex;
    //position: absolute;
    flex-direction: row;
    padding: 20px 35px;
    box-shadow: none;
    align-items: center;
    transition: all .3s;
    box-sizing: border-box;
    opacity: 0;
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;

    div {
      gap: 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 35px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    img, .Icon {
      margin-bottom: 5px;
      width: 25px;
      //height: 25px;
    }

    &.open {
      opacity: 1;
    }

    @media screen and (max-width: 748px) {
      padding: 0;
      img, .Icon {
        width: 20px;
      }
      div {
        margin-right: 0;
      }
    }
  }

  .fastResponseDesktop {
    display: flex;
    flex-direction: row !important;
    position: relative;

    button {
      font-size: 18px !important;
      z-index: 2;
    }

    img:first-of-type {
      z-index: 2;
    }

    .reactions {
      border-radius: 15px;
      display: flex;
      position: absolute;
      flex-direction: row;
      padding: 20px 35px;
      //box-shadow: 1px 1px 10px rgba(0,0,0,.25);
      align-items: center;
      transition: all .3s;
      box-sizing: border-box;
      opacity: 0;
      width: auto;
      margin-top: 0;

      div {
        gap: 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 35px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      img, .Icon {
        margin-bottom: 5px;
        width: 25px;
        //height: 25px;
      }

      &.open {
        opacity: 1;
        transform: translateY(50px);
      }
    }
  }

  .desktopPreviewTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-bottom: 10px;

    .backDesktop {
      margin-right: 20px;
      position: relative;
      height: 40px;
      width: 40px;
    }

    p {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .vkuiGallery__viewport {
    border-radius: 10px;
  }

  .costBlock {
    position: relative;

    .discount {
      background-color: #1E7CF2;
      border-radius: 5px;
      color: white;
      position: absolute;
      top: calc(50% - 22px);
      left: -35px;
      padding: 0 2px;
      text-align: center;
      font-size: 14px;
    }

    .cost {
      font-size: 18px;
      font-weight: 600;

      &.prevCost {
        text-decoration: line-through;
        margin-bottom: 0;
      }

      &.newCost {
        margin-top: -2px;
        color: #F8961D;
      }
    }
  }

  .space {
    justify-content: space-between;
  }

  .icon_buttons {
    margin-top: 10px;
    justify-content: space-between;
  }

  .link {
    cursor: pointer;
  }

  .cost {
    font-size: 18px;
    font-weight: 600;

    .prevCost {
      text-decoration: line-through;
    }

    .newCost {
      color: #F8961D;
    }
  }

  .vkuiIcon {
    cursor: pointer;
  }

  .icons {
    gap: 15px;

    img {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }

  .desc {
    align-items: flex-end;
    flex-direction: column;

    p {
      color: #707070;
    }

    .types {
      cursor: pointer;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      justify-content: space-between;

      @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
        p {
          margin: 3px 0;
          justify-self: flex-start !important;
        }
      }

      p {
        display: block;
        width: max-content;
      }

      p:nth-child(4), p:nth-child(2) {
        justify-self: flex-end;
      }

      p span {
        color: black;
        font-weight: 400;
      }
    }

    p {
      margin: 7px 0;
      cursor: pointer;
      color: #707070;
      width: 100%;
      height: fit-content;
      font-size: 14px;
      overflow: hidden;
    }

    .btns {
      margin-top: 10px;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      img {
        width: 25px;
        height: 25px;
      }

      .outline {
        border-color: var(--orange) !important;
      }

      button {
        padding: 7px;
        font-size: 12px;
        border-radius: 7px;
      }

      .vkuiLink {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
      }

      .flex {
        gap: 15px;
      }

      * {
        margin: 0;
      }
    }
  }


  .lastSearched {
    .vkuiHorizontalScroll {
      margin-left: -15px;
      padding: 5px 0;
    }

    @media screen and (min-width: 1024px) {
      h4 {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
  }

  .vkuiCard--md-shadow {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .15), 0 0 2px 0 rgba(0, 0, 0, .08);
  }

  .lastSearchItem {
    min-height: 180px;

    .Card__in {
      padding: 5px 10px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }

    .lastSearchItem-desc {
      h4 {
        margin: 0;
      }

      box-sizing: border-box;
    }

    p {
      margin: 0 0 10px;

      &:nth-child(2) {
        color: #707070;
      }
    }

    img {
      margin-left: -10px;
      margin-top: -5px;
      width: calc(100% + 20px);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  .smallPhotos {
    display: flex;
    max-height: 300px;
    position: relative;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    box-sizing: border-box;

    img {
      box-sizing: border-box;
      max-height: 100px;
      border-radius: 10px;

      &.active {
        border: 2px solid #1E7CF2;
      }
    }
  }

  .openPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, .25);

    .openPhoto-main {
      background: #fff;
      margin: 50px;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      height: calc(100% - 100px);
      border-radius: 15px;
      padding: 20px;
      position: relative;

      .col {
        display: flex;
        flex-direction: column;
      }

      .small {
        img {
          margin-top: 20px;
          box-sizing: border-box;
          max-height: 100px;
          border-radius: 10px;

          &:first-of-type {
            margin-top: 0;
          }

          &.active {
            border: 2px solid #1E7CF2;
          }
        }

        max-width: 150px;
      }

      .controls {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Icon {
          cursor: pointer;
          color: #c0c0c0;

          &:hover {
            color: rgba(0, 0, 0, 0.37);
          }
        }
      }


      .images {
        width: 100%;
        display: flex;
        transition: all .3s;
        transform: translateX(0);

        .img-wrapper {
          min-width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .big {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
          max-width: 60%;
          max-height: 100%;
        }

        overflow: hidden;

      }

      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: #e0e0e0;

        &:hover {
          color: rgba(0, 0, 0, 0.37);
        }
      }
    }

    &.hidden {
      display: none;
    }
  }

  .product-main-info {
    h1 {
      font-size: 36px;
      line-height: 42px;
      margin: 0;
      font-weight: 400;
    }

    .favCount {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      align-items: center;

      p {
        margin: 0;
        color: #707070;
      }
    }

    .price {
      margin-top: 30px;
      margin-bottom: 15px;

      .cost {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 36px;
        color: #E21B1B;
        line-height: 42px;
        margin: 0;
        gap: 10px;

        .discount {
          font-weight: 500;
          font-size: 14px;
          color: white;
          background-color: #1E7CF2;
          border-radius: 5px;
          padding: 2px 5px;
          height: 20px;
          line-height: 20px;
          text-align: center;
        }
      }

      .lastPrice {
        //font-weight: normal;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #000;
        margin: 0;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .btns {
      display: flex;
      gap: 40px;
      margin-left: 5px;


      .outline {
        border-color: var(--orange) !important;
        color: black;
        display: flex;
        align-items: center;

        button {
          padding-right: 20px;
          padding-left: 20px;
        }

        img {
          margin-right: 10px;
        }
      }

      button {
        height: 35px;
        font-size: 14px;
      }

      div {
        display: flex;
        gap: 15px;
        flex-direction: column;

        .button-box {
          margin: 0;
        }
      }

      div:nth-of-type(2) {
        .vkuiIconButton {
          border-radius: 30px;
          padding: 0 32px;
          text-transform: uppercase;
          font-size: 14px;
          color: black;
          gap: 30px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:active {
            background: rgba(0, 0, 0, 0.12);
          }

          .Icon, img {
            padding: 0;
            width: 28px;
          }
        }
      }
    }
  }

  .cart-item-content-desktop {
    line-height: 21px;
    margin-left: 180px;
    max-width: 700px;

    h2 {
      font-weight: 500;
      font-size: 36px;
    }

    p {
      margin: 0;
      font-size: 18px;
      color: #707070;
      line-height: 24px;

      span {
        color: #000000;
      }
    }
  }

  .Gallery__slide {
    img {
      max-height: 100%;
      min-height: unset;
    }
  }

  @media screen and (min-width: 1024px) {
    .Gallery__slide {
      max-height: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        min-height: auto;
        border-radius: 10px;
      }
    }
  }

  .list-row {
    display: flex;
    gap: 36px;
  }

  .vkuiGallery__viewport {
    overflow: hidden;
  }
}


.vkuiTextTooltip {
  max-width: 300px;
}

#panel_product {
  .reviews {
    margin-left: 180px;
    max-width: 700px;

    h2 {
      font-weight: 500;
      font-size: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      small {
        font-size: 14px;
        color: #707070;
        cursor: pointer;
      }

      @media screen and (max-width: 1024px) {
        font-size: 24px;
      }
    }

    .tabs {
      display: flex;
      color: #707070;
      position: relative;

      .line {
        border-bottom: 1px solid #707070;
        width: 80px;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: all .3s;

        &.right {
          width: 88px;
          left: 110px;
        }
      }

      .tab {
        margin-right: 30px;
        cursor: pointer;
      }

      .current {
        text-decoration: underline;
      }
    }

    .writeButtons {
      margin-top: 40px;
      display: flex;
      width: 100%;
      justify-content: space-between;

      @media screen and (max-width: 1024px) {
        margin-top: 10px;
      }

      .button-box {
        width: 100%;
        margin: 0 10px 0 0;
      }

      button {
        width: 100%;
        margin: 0;
      }
    }

    .noOrder {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      font-size: 14px;

      img {
        display: inline-block;
        margin-right: 7px;
      }

    }

    @media screen and (max-width: 1024px) {
      margin-left: 0;
    }

  }

  .comment {
    * {
      margin: 0;
    }

    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;

    &:first-of-type {
      margin-top: 20px;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .stars {
      margin-top: 5px;
      margin-left: -2px;
    }

    .likes {
      color: #707070;

      div {
        display: flex;
        align-items: baseline;
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      img {
        cursor: pointer;
        margin-right: 10px;
        width: 30px;
      }
    }

    .text {
      margin-top: 20px;
    }

    .gap {
      margin-top: 10px;
      justify-content: space-between;

      .row:first-of-type {
        .Link:first-of-type {
          margin-right: 20px;
        }
      }
    }

    .vkuiAvatar {
      margin-right: 15px;
      height: 70px;
      width: 70px;
    }

    .date {
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 100%;
      text-align: right;
      color: #707070;
      .Icon{
        align-self: end;
      }
    }

    .Link {
      color: #707070;
    }

    p {
      margin: 0;
    }
  }

  .textEnter {
    font-size: 18px;

    .row {
      display: flex;
      justify-content: space-between;

      p {
        margin-bottom: 10px;
      }

      p:last-of-type {
        color: #707070;
      }
    }

    textarea {
      width: 100%;
      border: none;
      border-radius: 7px;
      height: 130px;
      padding: 10px;
      margin-bottom: 10px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
    }

    .buttons {
      .button-box {
        box-sizing: border-box;
        width: 100%;
        height: 38px;
        margin: 0;

        &:first-of-type {
          margin-right: 5px;
        }

        &:last-of-type {
          margin-left: 5px;
        }

        button {
          box-sizing: border-box;
          width: 100%;
          height: 38px;
          padding: 0;
          font-size: 18px;
          font-weight: 600;
        }

        &.outline {
          button {
            box-shadow: 1px 1px 10px #1E7CF2;
            border: none;
          }
        }
      }
    }
  }

  .sortWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 20px;

    .sort {
      position: relative;
      box-sizing: border-box;
      width: 300px;
      margin-right: 50px;
      @media screen and (max-width: 1024px) {
        width: 150px;
      }

      .vkuiFormField__after {
        visibility: hidden;
      }

      .vkuiSelect__container {
        font-size: 18px;
        color: #707070;
      }

      .arrows {
        position: absolute;
        cursor: pointer;
        right: 0;
        width: 30px;
        bottom: 31px;
        z-index: 10;
      }

      #stateInput {
        display: none;
      }

      #stateInput + .arrows:after {
        content: ' ';
        position: absolute;
        left: 10px;
        //bottom: -6px;
        border: 10px solid transparent;
        border-top: 10px solid rgba(35, 35, 35, 0);
        border-width: 8px 5px;
      }

      #stateInput:checked + .arrows:after {
        content: ' ';
        position: absolute;
        left: 10px;
        bottom: -25px;
        border: 10px solid transparent;
        border-top: 10px solid #707070;
        border-width: 8px 5px;
      }

      #stateInput + .arrows:before {
        content: ' ';
        position: absolute;
        left: 10px;
        //bottom: 12px;
        border: 10px solid transparent;
        border-bottom: 10px solid #707070;
        border-width: 8px 5px;
      }

      #stateInput:checked + .arrows:before {
        content: ' ';
        position: absolute;
        left: 10px;
        //bottom: 12px;
        border: 10px solid transparent;
        border-bottom: 10px solid rgba(35, 35, 35, 0);
        border-width: 8px 5px;
      }
    }
  }

  .answerList {
    margin: 20px 0 20px 10%;

    .name {
      margin-bottom: 10px;

      .row {
        width: 100%;
      }

      p {
        width: 100%;
      }

      p:last-of-type {
        color: #707070;
        text-align: right;
      }
    }

    .text {
      margin-top: 0;
      align-items: end;
    }
  }

  .enterReview {
    margin: 20px 0;

    * {
      font-size: 18px;
    }

    @media screen and (max-width: 1024px) {
      * {
        font-size: 14px;
      }
      button {
        margin: 0;
      }
      .head {
        justify-content: space-between;

        .col:last-of-type {
          margin-left: 10px;
          max-width: calc(100% - 150px);
          box-sizing: border-box;
        }
      }
      .vkuiSelect {
        box-sizing: border-box;
      }
    }

    p {
      margin: 0;
    }

    .title {
      font-weight: 500;

      p {
        font-size: 24px;
      }

      margin-bottom: 10px;
    }

    .row {
      margin-top: 10px;

      p {
        color: #707070;
      }
    }

    .vkuiSelect__container {
      color: #707070;
      font-size: 18px;
    }

    .photos {
      color: #707070;

      .row {
        justify-content: flex-start;
      }
    }

    .photo {
      width: 100px;
      height: 75px;
      border-radius: 5px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-bottom: 10px;
      margin-right: 10px;

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
      }
    }

    .addPhoto {
      img {
        width: auto;
        height: auto;
      }
    }
  }

  .enterReview {
    position: relative;

    .profileVisibility {
      position: absolute;
      margin-top: 10px;
      right: -325px;
      top: 145px;

      b {
        margin-left: 48px;
      }

      .vkuiRadio__children {
        color: #707070;
      }

      @media screen and (max-width: 1024px) {
        position: unset;
        b {
          margin-left: 42px;
        }
      }
    }
  }
}