.favorite {

  .nav {
    display: flex;
    background-color: #c2c2c2;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
  }

  .wrapper {
    width: 100%;

    .all {
      width: fit-content;
      margin: 0 auto 40px;
    }
  }

  .cBtn {
    background-color: #1E7CF2;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    padding: 5px 80px;
    cursor: pointer;

    &.toCart {
      padding: 5px 70px;
    }

    &.grey {
      background-color: #C2C2C2;
    }
  }

  .noFav {
    padding: 0 16px;
    box-sizing: border-box;

    @media screen and (min-width: 1024px) {
      .button-box{
        display: flex;
        justify-content: center;
      }
    }

    .vkuiCardScroll__in {
      margin-left: -15px;
    }

    .button-main {
      border-radius: 8px;
      margin-left: 0;
    }

    .button-box{
      margin-left: 0;
    }

    .fav-Placeholder {
      text-align: left;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      color: #707070;
      .Icon{
        display: inline-block;
        margin-bottom: -5px;
      }
    }

    .lastSearchItem {
      min-height: 180px;

      .Card__in {
        padding: 5px 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
      }

      .lastSearchItem-desc {
        h4 {
          margin: 0;
        }

        box-sizing: border-box;
      }

      p {
        margin: 0 0 10px;

        &:nth-child(2) {
          color: #707070;
        }
      }

      img {
        width: 100%;
      }
    }
  }

  .cardList {
    .cart-item {
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px;
      max-width: 250px;
    }
  }

  @media screen and (max-width: 540px) {
    .cardList {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .cart-item {
        width: calc(100% - 50px);
        max-width: calc(100% - 50px);
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .nav {
      flex-direction: column;
      height: auto;

      .toCart {
        width: 100%;
        text-align: center;
      }
    }
  }

  .mob {
    .cardList {
      box-sizing: border-box;
    }

    .cart-item {
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      margin-left: 0;
    }

    .mob-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 10px 10px;

      .vkuiCheckbox {
        border-radius: 10px;
      }

      .row {
        display: flex;
        align-items: center;

        button {
          border-radius: 10px;
        }
      }
    }
  }
}