.container {
    max-width: 700px;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob .contentCard.grid {
    position: relative;
    display: grid;
    grid-template-columns: 70px 3fr;
    align-items: center;
}

.mob .contentCard img, .mob .contentCard .letterAvatar, .mob .contentCard img, .mob .contentCard .vkuiAvatar{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    line-height: 60px;
    margin-left: 10px;
}

.mob .contentCard .vkuiCell__content {
    padding-left: 10px;
}

.contentCard .vkuiPlaceholder{
    justify-content: flex-start;
}

.contentCard .vkuiPlaceholder__in {
    padding: 0 10px!important;
}

.contentCard .vkuiPlaceholder__text{
    text-align: left;
    font-size: 14px;
}

.contentCard .vkuiPlaceholder__text .Icon{
    margin-bottom: -5px;
    display: inline-block;
}

.contentCard .vkuiPlaceholder__text br{
    margin: 10px 0;
}

.mob .contentCard.grid .info_cell {
    padding: 5px 0 0 10px;
    color: #707070;
    margin-top: 10px;
}

.main .container .vkuiSimpleCell__children h3{
    font-size: 22px;
}

.mob .contentCard .action{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

.mob .contentCard .action .vkuiLink {
    width: 100%;
    border-top: 1px solid #707070;
    text-align: center;
    padding-top: 5px;
    color: #707070;
    font-size: 14px;
}

.mob .contentCard.grid .vkuiCell{
    height: 35px;
}

.mob .vkuiTitle span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob .vkuiTitle span .Icon{
    cursor: pointer;
}

.cell {
    padding-left: 0;
}

.action {
   padding: 12px;
}

.notification{
    margin: 10px 20px 0;
    display: flex;
    align-items: center;
    height: 40px;
    color: #707070;
}

.mob .notification{
    justify-content: space-between;
}

.notification button{
    height: 30px;
    box-sizing: border-box;
    color: #fff!important;
    padding: 0 32px!important;
    border-radius: 10px;
}

.notification .blue{
    color: #1E7CF2;
}

.cellGrid{
    display: flex;
    align-items: center;
}

.cellGrid .info_cell{
    margin-left: 10px;
    padding: 0 0 5px 16px;
    color: #707070;
}

.cellGrid h3{
    color: rgb(30, 124, 242);
    padding-bottom: 3px;
}

.cellGrid p{
    margin: 0;
}

.cellGrid img{
    width: 80px!important;
    height: 60px!important;
    border-radius: 10px;
}

.cellGrid .info_cell-flex{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
}

.cellGrid .info_cell-flex p{
    display: flex;
    width: calc(100% - 16px);
    color: #000;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 500;
}

.main .container .favCell .favList{
    display: flex;
    margin-left: 16px;
}

.main .container .favCell .favList .favList_item{
    border-radius: 1000000px;
    width: 80px;
    height: 80px;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.08),0 0 2px 0 rgba(0,0,0,.08);
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: contain !important;
    background-color: #fff!important;
    margin-right: -40px;
}

.main .container .favCell .favList .favList_item.more{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container .favCell {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.main .container .favCell p{
    text-align: right;
    margin-top: 25px;
    width: calc(100% - 16px);
}

.contentCard{
    padding-bottom: 20px;
}

.mob .exitBtn .button-box{
    display: flex;
    justify-content: center;
}

.mob .exitBtn button{
    width: 90%;
    color: #1e7cf2;
    font-weight: 500;
    font-size: 18px;
    opacity: 1;
}

.mob .profile-header-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: normal;
}

.mob .profile-header-row h3{
    margin-right: 20px;
}

.notificationWrapper{
    position: absolute;
    right: 10px;
    margin: 0!important;
    width: 25px!important;
    height: 25px!important;
    margin-top: 0px!important;
    top: 12px;
}

.mob .notificationWrapper{
    margin-top: 5px!important;
    top: auto;
}

.notificationWrapper .notice{
    border-radius: 5px;
    text-align: center;
    line-height: 12px;
    width: 12px;
    height: 12px;
    font-size: 10px;
    background-color: var(--orange);
    color:white;
    position: absolute;
}

.notificationWrapper img{
    margin: 0!important;
    width: 25px!important;
    height: 25px!important;
}

.main .exit{
    color: #1E7CF2;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-decoration: underline;
}