.create-chat {
    margin: 0 auto;
    padding: 20px 80px;
    display: flex;
    .create-chat-icon {
        margin: 0;
    }
    .create-chat-content {
        margin-left: 50px;
        .input-container {
            width: auto;
            padding: 4px 10px;
            margin: 0 0 20px;
            background: #F0F0F0;
            border: 1px solid #d0d0d0;
            width: calc(100% - 20px);
            input {
                font-size: 16px;
            }

            .passwordTip{
                p{
                    margin: 0;
                }
            }
        }
        p {
            font-size: 15px;
            opacity: .7;
            margin: 0 0 20px;
            button {
                color: var(--blue)
            }
        }
    }
}