.chats-head {
    display: flex;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    p {
        margin: 15px 0 0;
        font-size: 22px;
        font-weight: 500;
    }
    img {
        margin: 10px 0;
    }
}

.chats-search {
    padding-right: 15px;
    img {
        width: 24px;
        margin-left: 8px;
    }
    .input-container {
        width: auto;
        padding: 5px 2px;
        margin: 0;
        background: #F0F0F0;
        border: none
    }
    input {
        font-size: 16px;
    }
    .selectChatType{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-weight: bold;
        padding-right: 15px;
        cursor: pointer;
        .Icon{
            display: inline-block;
        }
    }
}

.chats-list {
    margin-top: 12px;
}

.no-chats {
    text-align: center;
    font-size: 18px;
    width: 320px;

    &.full{
        width: 100%;
    }

    .fsmall{
        font-size: 12px;
        margin-top: 0;
    }

    .small {
        font-size: 14px;
        color: #707070;
        padding: 0 40px;
    }
}