.chat-tab {
    margin-top: 5px;
    width: 100%;
    position: relative;
    border-radius: 25px;
    transition: all .3s;
    &.selected {
      .vkuiCell__content  {
        background-color: rgba(194, 194, 194, .1);
      }
    }

    .status{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .Icon{
            height: 16px;
        }
    }
    >div {
        border-radius: 25px;
    }
    .vkuiSimpleCell__children {
        padding: 5px 10px;
        display: flex;
    }
    p {
        margin: 0;
    }
    img {
        height: 42px;
    }
    .chat-tab__content {
        margin-left: 16px;
        >div:first-child {
            p {
                font-size: 17px;
                font-weight: 500;
            }
        }
        >div:last-child {
            width: 200px;
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
            p:first-child {
                max-width: 75%;
                overflow: hidden;
                font-size: 17px;
            }
            p:last-child {
                font-size: 14px;
            }
        }
    }
    .isnRead{
        border-radius: 1000px;
        width: 10px;
        height: 10px;
        background-color: #1E7CF2;
        box-shadow: 1px 1px 10px #1E7CF2;
    }
}