.ChatOptions{
  background-color: #fff;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px 50px 20px 20px;
  gap: 15px;
  margin: 110px 20px 110px 380px;

  &.mobile{
    margin: 80px 20px;
  }

  .vkuiLink{
    gap: 20px;
    display: flex;
    align-items: center;
    *{
      margin: 0;
    }

    img{
      width: 20px;
      height: 20px;
    }
  }
}