#review_report{
  .vkuiModalPageHeader__in{
    height: 25px;
  }
}

.modalReviewReport{
  *{
    box-sizing: border-box;
  }
  padding-bottom: 20px;
  p{
    margin: 0;
  }
  .tab1, .tab3{
    text-align: center;
    p{
      margin-bottom: 15px;
      cursor: pointer;
    }
  }
  .tab3{
    p{
      font-weight: 500;
    }
    .links{
      display: flex;
      justify-content: space-between;
      padding: 0 25px;
    }
    .Link{
      &:last-of-type{
        color: #707070;
      }
    }
  }
}