.card-item{
  .link{
    cursor: pointer;
  }
  .costBlock{
    position: relative;
    .discount{
      background-color: #1E7CF2;
      border-radius: 5px;
      color: white;
      position: absolute;
      top: calc(50% - 14px);
      left: -35px;
      padding: 0 2px;
      text-align: center;
      font-size: 14px;
    }
    .cost{
      font-size: 18px;
      font-weight: 600;

      &.prevCost{
        text-decoration: line-through;
        margin-bottom: 0;
      }
      &.newCost{
        margin-top: -2px;
        color: #F8961D;
      }
    }
  }

  .vkuiIcon{
    cursor: pointer;
  }
  .icons {
    @supports not (gap:15px){
      img{
        margin-right: 20px;
      }
    }
    gap: 20px;
    img {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
  .desc p{
    color:#707070;
    width: 90%;
    height: 33px;
    font-size: 14px;
    overflow: hidden;
  }

  &.more{
    .desc{
      align-items: flex-end;
      flex-direction: column;

      .types{
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-content: space-between;
        p{
          display: block;
          width: 100%;
          text-align: left;
        }
        p:nth-child(4),p:nth-child(2){
          justify-self: flex-start;
        }
        p span{
          color:black;
          font-weight: 500;
        }
        @media screen and (max-width: 385px){
          grid-template-columns: 1fr;
          p:nth-child(4),p:nth-child(2){
            justify-self: flex-start;
          }
        }
      }
      p{
        cursor: pointer;
        color:#707070;
        width: 100%;
        height: fit-content;
        font-size: 14px;
        overflow: hidden;
      }

      .btns{
        margin-top: 10px;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;

        @media screen and (max-width: 340px) {
          flex-direction: column;
          .flex{
            margin-top: 10px;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            button{
              font-size: 14px;
            }
          }
        }

        button{
          padding: 7px 10px;
        }
        .flex{
          gap: 15px;
          @supports not (gap:15px) {
            .button-box{
              margin-right: 15px;
            }
          }
        }
        *{
          margin: 0;
        }
      }
    }
  }
}