.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1000px;
    width: 100%;
}

.header_card {
    padding: 12px;
}

.header_card .vkuiTitle {
    color: #1E7CF2;
    font-weight: 600;
    font-size: 26px;
}

.mob .header_card .vkuiTitle{
    color: #000;
}

.personalInformation.mob .vkuiCard{
    box-shadow: none!important;
}

.vkuiFormField__border{
    background: #fff;
    border: 0;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.08),0 0 2px 0 rgba(0,0,0,.08);
}

.vkuiFormField :focus ~ .vkuiFormField__border{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.15),0 0 2px 0 rgba(0,0,0,.08);
    border: 0;
    background-color: #fff;
}

.main .container .vkuiCard__in .vkuiRadio{
    border-radius: 10px;
    margin-right: 5px;
}

.main .mob .sizes .vkuiFormItem{
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 2px 15px;
}

.main .mob .sizes span{
    font-size: 14px;
}

.main .mob .sizes .vkuiCheckbox,.main .mob .sizes .vkuiCheckbox__container  {
    border-radius: 10px;
    height: 30px;
}

.main .mob .sizes .vkuiCheckbox__children {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main .mob .sizes .vkuiCheckbox__children span:nth-child(1){
    flex-basis: 32px;
    margin-left: 5%;
    margin-right: 10%;
}

.main .mob .shoes .vkuiFormItem {
    padding-right: 0;
}

.main .mob .shoes .vkuiCheckbox__children{
    margin: 0;
}

.main .mob .shoes .vkuiCheckbox{
    padding: 7px 10px;
}

.main .mob .sizes .shoes .vkuiFormLayout__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main .mob .sizes-woman .row{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 90px;
    margin-left: 50px;
}

.main .mob .sizes-woman .row div{
    flex-basis: 75px;
}

.main .mob .sizes.sizes-woman .top .vkuiCheckbox__children {
    justify-content: space-between;
}

.main .mob .sizes.sizes-woman .top .vkuiCheckbox__children span{
    flex-basis: 70px;
}

.main .mob .sizes.sizes-woman .top .vkuiCheckbox__children span:nth-child(1){
    flex-basis: 70px;
}

.main .container .radioList{
    padding-bottom: 10px;
}

.main .container .radioList .vkuiFormItem{
    padding: 2px 10px;
    margin-left: 15px;
}

.main .container .warning{
    background-color: #8BB5EB;
    border-radius: 6px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
}

.main .mob .vkuiFormItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .mob .vkuiFormItem p{
    color: #707070;
    width: 130px;
}

.main .mob .vkuiInput{
    width: 100%;
}

.main .mob .wauto .vkuiInput{
    width: 100%;
}

.main .mob .center {
    /*justify-content: center!important;*/
    justify-content: flex-start;
}

.main .mob .center button{
    width: 180px;
}

.main .mob .center .vkuiButton__in{
    padding: 0;
}


.mob .formLayout{
    display: block;
    transition: max-height .5s;
    max-height: 470px;
    overflow: hidden;
    z-index: 1;
}

.mob .formLayout.shoes{
    max-height: 430px;
}

.mob .formLayout-close, .mob .formLayout-close.shoes{
    max-height: 0;
    z-index: -20;
}

.mob .sizes .header_card h2{
    display: flex;
    align-items: center;
}

.mob .sizes .header_card h2 .Icon{
    margin-right: 20px;
    color: #1e7cf2;
    margin-left: 10px;
}
