.chatContext{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.25);

  .vkuiLink{
    display: flex;
    align-items: center;
    svg, img{
      position: absolute;
      left: -30px;
    }
    p{
      margin-top: 10px;
      margin-bottom: 10px;
      width: 130px;
      color: #707070;
    }
  }
}