.addressChange .Icon{
  color: #000;
}

.addressChange .row{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #5e5e5e;
  font-weight: 600;
  width: 100%;
  justify-content: space-between;
}

.addressChange .switcher{
  margin-left: 10px;
}

.addressChange .saveBtn{
  width: 100%;
}

.addressChange .vkuiCard {
  box-shadow: none!important;
}