.modalProfileAddCar{
  background-color: #fff;
  border-radius: 8px;
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  button{
    box-sizing: border-box;
    width: calc(100% - 16px * 2);
    margin: 0 16px 10px;
  }

  h2{
    color: #000!important;
    text-align: center;
  }

  .vin-desc{
    font-weight: 300;
    max-width: 270px;
    font-size: 14px;
    margin: 20px auto auto;
    text-align: center;
  }
  .vkuiFormField__border{
    border-color: var(--field_border) !important;
  }
  .saveBtn {
    box-shadow: 0 0 5px 0 var(--button_outline_border, var(--vkui--color_stroke_accent));
    margin-bottom: 20px;
  }
  .vkuiInput{
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.08),0 0 2px 0 rgba(0,0,0,.08);
  }
}