.vkuiTabsItem{
    border-radius: 10px;
}

.padding {
    padding-top: 24px;
}
#panel_profile{
    overflow: auto;
}

#panel_profile .vkuiSplitLayout__inner, #panel_profile .vkuiSplitLayout {
    height: fit-content;
    margin-bottom: 60px;
}

#panel_profile .mobile .header_search{
    visibility: hidden;
    height: 55px;
}

#panel_profile .mobile .header-logo img{
    height: 40px;
    width: auto;
}

#panel_profile .vkuiTabsItem--selected{
    color: #1E7CF2;
}
#panel_profile .vkuiTabsItem--selected::after{
    background: rgba(255, 255, 255, 0);
}
#panel_profile .vkuiPlaceholder__in{
    padding: 42px 22px;
}

#panel_profile .header-search.mob{
    margin: 10px 10px 0;
}

#panel_profile .header-search.mob .search{
    border-radius: 0;
    height: 44px;
}

#panel_profile .newImg {
    position: absolute;
}

#panel_profile .header-search .header-search__category{
    padding: 0 30px 0 0!important;
    font-size: 14px!important;
}
#panel_profile .header-search__action{
    padding: 0!important;
}

#panel_profile .header-search__action p, #panel_profile .header-search .header-search__category p{
    font-size: 14px;
}

#panel_profile .mob .vkuiCard {
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.08),0 0 2px 0 rgba(0,0,0,.08);
}

#panel_profile .mobileHeader{
    width: 100%;
}

#panel_profile .mobileHeader .header-logo{
    width: 100%;
    background-color: #fff;
}

#panel_profile .mobileHeader .header-logo button{
    margin-left: 20px;
}

#panel_profile .mobileHeader .header-logo.space{
    padding-left: 30px;
    padding-right: 10px;
    box-sizing: border-box;
}

#panel_profile .mobileHeader .header-logo.space .iconBtn {
    padding-right: 10px;
}

#panel_profile .vkuiFormField__border{
    border-color: var(--field_border) !important;
}