.auth_panel {
  position: relative;
  height: 100vh;
  width: 100%;

  .form_auth {
    box-sizing: border-box;
    margin: auto;
    padding: 40px 40px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 360px;
    min-height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;

    small{
      cursor: pointer;
      margin-top: -10px;
      margin-bottom: 10px;
    }

    .auth_panel-logo {
      width: 123px;
      //margin-bottom: -20px;
    }

    .dismissButton {
      right: 10px;
      top: 10px;
    }

    .reg_contact-tel{
      text-align: center;
      margin-bottom: 0px;
      font-weight: 500;
      margin-top: 4px;
    }

    .reg_description{
      margin-bottom: 0;
      text-align: center;
    }

    .links-politics{
      margin-bottom: 0;
    }

    .links-container{
      text-align: center;
    }

    .form_back_arrow{
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 18px;
    }
  }
  .link_list{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 0;

    button{
      color: #000;
      cursor: pointer;
    }
    button:hover{
      text-decoration: underline;
    }
    button:active{
      color: var(--orange);
    }
  }

  @media screen and (max-width: 1024px){
    .link_list{
      bottom: 50px;
      flex-wrap: wrap;
      padding: 10px 0;
      gap: 10px;
    }
  }

  @media screen and (max-width: 500px){
    .form_auth{
      width: 100%;
      box-shadow: none;
    }
  }
}