.modalPersonalInformation {
  background-color: #fff;
  overflow: auto;
  height: max-content;
  .vkuiFormField__border{
    border-color: var(--field_border) !important;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  button {
    box-sizing: border-box;
    width: calc(100% - 16px * 2);
    margin: 0 16px 10px;
  }

  h2 {
    color: #000 !important;
    text-align: center;
  }

  .vkuiRadioGroup {
    margin-left: 5px;
    align-items: center;
    color: #707070;

    .Radio {
      margin-right: 10px;
      padding-right: 0;
      border-radius: 10px;
      &:nth-of-type(1){
        margin-left: 10px;
      }
      .vkuiRadioContainer {
        width: min-content
      }
    }
  }

  .vin-desc {
    font-weight: 300;
    max-width: 270px;
    font-size: 14px;
    margin: 20px auto auto;
    text-align: center;
  }

  .saveBtn {
    box-shadow: 0 0 5px 0 var(--button_outline_border, var(--vkui--color_stroke_accent));
    margin-bottom: 20px;
  }

  .vkuiInput {
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, .08), 0 0 2px 0 rgba(0, 0, 0, .08);
  }
}