.modal_close {
    width: 8vw;
    max-width: 72px;
    height: 4px;
    background-color: #9099A4;
    border-radius: 16px;
    position: absolute;
    top: 4px
}

.container_header {
    align-items: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}



.ModalPageHeader__content {
    flex-grow: 0;
    justify-content: center;
}
