.createCard {
  padding: 10px 15px;
  overflow: initial;
  height: 100%;
  .firstScreen, .secondScreen, .cardPreview{
    height: 100%;
  }

  @media screen and (max-width: 1024px) {
    overflow: auto;
    .firstScreen, .secondScreen, .cardPreview{
      max-height: calc(100vh - 150px);
      .row{
        margin-bottom: 10px;
      }
    }
  }
  .cardPreview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .controlBtns{
      box-sizing: border-box;
      padding: 0 30px 20px 15px;
      width: 100%;

      button{
        margin-top: 0;
      }
    }

    .cart-item {
      padding: 0;

      .vkuiGallery__slide {
        display: flex;
        align-items: center;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        width: unset;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        margin: 0 auto;
      }
    }

    .row{
      box-sizing: border-box;
      width: 100%;
      padding: 10px 30px;
    }
    .flex.btns{
      font-size: 14px;
    }
  }

  .chat-header-text{
    @media screen and (max-width: 1024px){
      box-shadow: none;
      h3{
        text-align: center;
        width: 100%;
        margin: 0;
      }
    }
  }

  .controlBtns{
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
    position: relative;
    justify-content: space-between;


    .nextBtn{
      width: fit-content;
    }
    button{
      margin-top: 10px;
      margin-bottom: 20px;
      justify-content: flex-start;
      z-index: 10;
      &:last-of-type{
        justify-content: flex-end;
      }
    }

    .centerControlBtns{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: absolute;

      button{
        justify-content: center;
        width: fit-content;
        z-index: 5;

        &:last-of-type {
          margin-left: 13px;
          margin-right: 13px;
        }
      }
    }
  }

  .nextBtn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 50px;
    align-items: center;
    @media screen and (max-width: 1024px){
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .mb6{
    .input-container{
      margin-bottom: 6px;
    }
  }

  textarea{
    font-size: 14px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border: none;
    padding-right: 10px;
    padding-top: 9px;
    height: 30px;
    @media screen and (max-width: 1024px) {
      border-radius: 7px;
    }
    padding-bottom: 7px;
    min-height: 35px!important;
  }

  .vkuiFormLayoutGroup{
    align-items: center;
    padding: 6px 0;
  }

  .vkuiFormItem {
    padding: 0 20px;

    .input-container {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
      border: none;
      height: 25px;
    }

    .vkuiSelect {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
      border: none;
      height: 35px;
      width: 100%;
      padding: 5px;
      border-radius: 22px;
      position: relative;
      margin: 0;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
  }

  .row {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    .Link {
      display: flex;
      align-items: center;

      .Icon {
        margin-right: 5px;
      }
    }

    .button-box {
      button {
        box-shadow: 1px 1px 10px #1979F4;
        padding: 5px 10px;
      }
    }
  }
  .vkuiSelect__container{
    font-size: 14px;
  }
  .photos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: -4px;
    max-width: calc(100% - 40px);
    column-gap: 20px;

    .photo{
      margin-bottom: 10px;
      border-radius: 5px;
      height: 75px;
      width: 100%;
      box-shadow: 1px 1px 10px rgba(0,0,0,.25);
      position: relative;
      img{
        width: 100%;
        max-height: 100%;
        border-radius: 5px;
      }
      &:hover{
        .close{
          opacity: 1;
        }
      }
      .close{
        transition: all .3s;
        opacity: 0;
        right: 5px;
        top: 5px;
        width: 17px;
        height: 17px;
        cursor: pointer;
        position: absolute;
        @media screen and (max-width: 1024px) {
          opacity: 1;
        }
      }
    }
    .addPhoto{
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img{
        width: auto;
        height: auto;
      }
    }
  }

  @media screen and (max-width: 1024px){
    text-align: center;
    overflow: auto;
    background: #fff;

    p:first-of-type{
      margin-top: 0;
    }

    .input-container, .vkuiSelect{
      border-radius: 7px!important;
    }

    .vkuiFormLayoutGroup{
      .vkuiFormItem{
        &:nth-child(1){
          padding-right: 0;
        }
        &:nth-child(2){
          padding-left: 0;
          margin-left: 15px;
        }
      }
    }
    .Link, button{
      font-size: 12px!important;
    }
  }

  @media screen and (max-width: 500px) {
    .input-container{
      padding: 5px;
    }
  }
}