.mobileCart {
  box-sizing: border-box;
  padding: 0 15px;

  .mob-cart-container{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .backBtn {
    color: #a6a6a6;
  }

  .cart_nav {
    h3:nth-of-type(1) {
      font-size: 22px;
      font-weight: 500;
    }


    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-empty {
    img {
      width: 25px;
      height: 25px;
    }

    h1 {
      color: black
    }

    text-align: center;
    color: #000000;
    padding: 0 30px;
  }

  .cart-full {
    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-icons {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
          cursor: pointer;
        }
      }
    }
  }

  .count {
    display: flex;
    align-items: center;
    gap: 25px;
    border: 1px solid;
    width: fit-content;
    padding: 0 15px;
    border-radius: 5px;
    margin: 20px 0;
  
    .Icon {
      cursor: pointer;
    }
  }

  .summary {
    width: 100%;

    p {
      font-size: 9px;
      text-align: center;
      padding: 0 20px;
    }

    button {
      width: 100%;
      margin: 0;
    }
  }

}