.button-wrapper {
    margin: 0 8px;
    border-radius: 30px !important;
}

.search-btn {
    padding: 9px 38px;
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 30px;
    color: var(--blue);
    font-size: 19px;
}

@media screen and (max-width: 425px) {
    .search-btn {
        padding: 6px 20px;
        font-size: 17px;
    }
}