.modalProfileAddress{
  overflow: auto;
  height: max-content;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  padding-bottom: 20px;
  h2{
    text-align: center;
    color: #000!important;
  }
  .vkuiCard::before{
    border: none;
  }

  .vkuiInput{
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.08),0 0 2px 0 rgba(0,0,0,.08);
  }
  .row{
    color: #000;
  }
  .saveBtn  {
    box-shadow: 0 0 5px 0 var(--button_outline_border, var(--vkui--color_stroke_accent));
  }
  p:last-of-type{
    color: #000!important;
    font-size: 14px;
  }
  .vkuiFormField__border{
    border-color: var(--field_border) !important;
  }
}