.start-chat {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        margin: 0;
        text-align: center;
        font-size: 16px;
        opacity: .8;
        margin-bottom: 5px;
        span {
            font-size: 15px;
        }
    }
}