.hiddenMenu {
  display: block;
  position: fixed;
  list-style: none;
  padding: 10px;
  padding-top: 6px;
  margin: 0;

  box-sizing: border-box;
  width: 200px;
  background-color: var(--background_content);
  height: 100%;
  top: 0;
  left: -200px;
  transition: left 0.3s;
  z-index: 100;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.hiddenMenu[opened="true"] {
  left: 0;
}

.hiddenMenuButtons {
  margin-top: 12px;
  margin-left: 12px;
  font-size: 13px;
  height: calc(100vh - 6px - 38px - 22px);
  height: calc(var(--vh, 1vh) * 100 - 6px - 38px - 22px);
  color: gray;
  fill: gray;
}

.hiddenMenuButtons .Tappable {
  padding: 8px 0;
  opacity: 0.8;
}

.schemeButton {
  position: absolute;
  bottom: 12px;
}

.menuLogo {
  padding-right: 8px;
  width: 32px;
  height: 32px;
}

.hideMenuButton img {
  margin-left: 12px;
  height: 38px;
}
