.mobileHeader {
  .header-logo {
    display: flex;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    //height: 76px;
    margin-left: -10px;
    padding-left: 10px;
    top: 0;
    gap: 10px;
    padding-top: 10px;
    box-shadow: 10px 0 0 1px #fff;

    &.interesting{
      .intIcon{
        img{
          margin-top: 10px;
        }
      }
      .searchIcon{
        width: 25px!important;
        height: 25px!important;
      }
      .logo{
        width: 75px!important;
        height: 25px!important;
      }
      p{
        margin: 0;
        color: #707070;
        font-size: 10px;
      }
    }

    @supports not (gap:10px){
      .input-container{
        margin-right: 10px;
      }
    }

    &.space {
      justify-content: space-between;
    }

    .filter {
      cursor: pointer;
      width: 30px;
    }

    .iconBtn {
      top: calc(50% - 18px);
      position: absolute;
      right: 50px;

      img {
        width: 30px;
        height: 25px;
      }

      .closerTip {
        width: 12px;
        height: 12px;
        transform: translate(57px, -55px);
      }

      .newImg {
        transform: translate(-10px, -20px);
      }
    }

    .input-container {
      box-shadow: 0 1px 10px rgba(0,0,0,.2);
      margin: 0;
      width: 100%;

      img {
        width: 30px;
      }

      input {
        padding-right: 45px;
      }
    }

    @media screen and (max-width: 500px) {
      .filter {
        width: 25px;
      }
      .iconBtn {
        right: 40px;

        img {
          width: 25px;
          height: 20px;
        }

        .closerTip {
          width: 10px;
          height: 10px;
          transform: translate(57px, -55px);
        }

        .newImg {
          transform: translate(-10px, -20px);
        }
      }
      .input-container {
        width: 90%;

        img {
          width: 25px;
        }
      }
    }


    .vkuiLink {
      margin: 0;
      height: 50px;

      &.searchBtn {
        position: absolute;
        left: 10px;

        img.searchIcon {
          width: 30px;
          height: 30px;
        }

        &.right{
          left: auto !important;
          right: 5px;
        }
      }

      img.logo {
        margin: 0;
        width: 180px;
        height: 50px;
      }
    }
  }
}