#review_rules{
  .vkuiModalPageHeader__in{
    height: 25px;
  }
}
.modalReviewRules{
  box-sizing: border-box;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  *{
    box-sizing: border-box;
  }
  .tab1{
    text-align: center;
    p{
      cursor: pointer;
    }
  }
  .tab2{
    p{
      color: #707070;
    }
    .bold{
      color: #000;
    }
  }
}