.chatTypesPopup {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #fff;
  border-radius: 20px;
  width: 280px;
  height: 315px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1024px) {
    margin-right: 150px;
    margin-bottom: 250px;
  }

  .Link {
    margin: 10px 0;
    color: #5E5E5E;
    font-weight: 500;
    text-align: center;
    width: 100%;
    cursor: pointer;
    position: relative;
  }

  .isnRead {
    display: inline-block;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    border-radius: 1000px;
    width: 10px;
    height: 10px;
    background-color: #1E7CF2;
    box-shadow: 1px 1px 10px #1E7CF2;
  }
}