@media screen and (min-width: 1024px) {
    .modal_container {
        height: 335px;
    }
}

@media screen and (max-width: 1023px) {
    .modal_container {
        height: 298px;
    }
}

@media screen and (max-width: 768px) {
    .modal_container {
        height: 308px;
    }
}

@media screen and (max-width: 500px) {
    .modal_container {
        height: 272px;
    }
}

@media screen and (max-width: 410px) {
    .modal_container {
        height: 282px;
    }
}

.vkuiModalPage__content-wrap {
    overflow: visible;
    .vkuiModalPage--desktop .vkuiModalPage__content,
    .vkuiModalRoot__modal--expandable .vkuiModalPage__content {
        overflow-y: visible;
    }
    .vkuiModalPage__content {
        overflow: visible;
    }
}

.form {
    height: 100%;
    position: relative;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 1024px) {
        height: calc(100% - 20px);
    }
    @media screen and (max-width: 1024px) {
        .vkuiRadio--android .vkuiRadio__children:last-child {
            margin-top: 0;
        }
        .vkuiRadio--android .vkuiRadio__children {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
    &.paddingTop {
        padding-top: 12px;
    }
    .button-box {
        margin: 7px 0;
    }
    .vkuiRadio {
        &.right {
            .vkuiRadio__icon.Radio__icon {
                border: 2px solid var(--green);
            }
        }
        &.error {
            .vkuiRadio__icon.Radio__icon {
                border: 2px solid red;
            }
        }
    }
    .button-main {
        margin: 0;
        @media screen and (max-width: 500px) {
            &.tetrairy {
                padding: 7px 0;
                font-size: 13px;
            }
            padding: 7px 18px;
            font-size: 14px;
        }
    }
    .input-container {
        margin: 6px 0 16px 0;
    }
    .form_back_arrow {
        position: absolute;
        z-index: 20;
        cursor: pointer;
        @media screen and (min-width: 1024px) {
            top: calc(50% - 200px);
            img {
                width: 16px;
            }
        }
        @media screen and (max-width: 1024px) {
            top: -28px;
            img {
                width: 16px;
            }
        }
        @media screen and (max-width: 768px) {
            top: -28px;
            img {
                width: 16px;
            }
        }
        @media screen and (max-width: 350px) {
            top: -30px;
            left: 30px;
            img {
                width: 16px;
            }
        }
    }
    &.form_reg {
        .input-container {
            margin-bottom: 2px;
        }
        .links-container.links-politics {
            margin-top: -5px;
            margin-bottom: -7px;
        }
        .button-box {
            margin-top: 0;
        }
    }
    &.form_profile {
        .input-container {
            margin: 4px 0 3px;
            padding: 2px 0;
            height: auto;
            input {
                height: auto;
                padding: 8px 6px;
            }
            @media screen and (max-width: 500px) {
                input {
                    padding: 2px 6px;
                }
            }
            input[type='text'],
            input[type='password'] {
                padding: 8px 6px;
            }
            @media screen and (max-width: 500px) {
                input[type='text'],
                input[type='password'] {
                    padding: 4px 6px;
                }
            }
        }
        .iconCloser {
            top: 11px;
            right: 12px;
        }
        button.stretched {
            width: calc(100% - 8px);
        }
        .vkuiRadio--sizeY-compact .vkuiRadio__children {
            margin-top: 2px;
        }
        .vkuiRadio--sizeY-compact .vkuiRadio__children:last-child {
            margin-bottom: 2px;
        }
        .button-box {
            margin: 2px 0;
        }
    }
    &.form_change-password {
        .input-container:first-child {
            margin-top: 40px;
        }
    }
    &.form_code {
        .input-container {
            input {
                width: calc(100% - 70px);
            }
        }
    }
    &.form_reset-code {
        .input-container {
            input {
                width: calc(100% - 70px);
            }
        }
    }
}

.button_login {
    margin-top: 8px;
}

.sex-container {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
        flex-direction: row;
    }
}

.radio-container {
    margin-left: -18px;
    * {
        background: none !important;
    }
    @media screen and (max-width: 425px) {
        .vkuiRadio {
            padding: 0 12px 0 16px;
            .vkuiRadio__icon {
                margin-right: 4px;
            }
        }
    }
    @media screen and (max-width: 400px) {
        .vkuiRadio--android .vkuiRadio__children {
            font-size: 11px;
        }
        .vkuiRadio {
            padding: 0 2px 0 4px;
            .vkuiRadio__icon {
                margin-right: 4px;
                width: 14px;
                height: 14px;
                &:after {
                    width: 6px;
                    height: 6px;
                    top: 3px;
                    left: 3px;
                }
            }
        }
    }
}

.links-container {
    display: flex;
    margin: 4px 0 10px;
    width: 100%;
    a,
    p {
        color: black;
        text-decoration: none;
        font-size: 11px;
        opacity: 0.6;
        padding: 2px 5px;
        margin: 0 auto;
        &:not(p):hover {
            text-decoration: underline;
        }
        &.link-orange {
            color: var(--blue);
            font-size: 13px;
            opacity: 1;
            cursor: pointer;
        }
        @media screen and (max-width: 500px) {
            text-align: center;
        }
    }
    &.links-politics {
        margin-top: -10px;
        margin-bottom: -15px;
        p {
            font-weight: 600;
            opacity: 1;
            position: relative;
            &::before {
                content: '';
                background: url('../../img/main/check.svg');
                background-size: 12px 12px;
                position: absolute;
                width: 12px;
                height: 12px;
                left: 15px;
                top: 4px;
                @media screen and (max-width: 1024px) {
                    left: -1px;
                }
                @media screen and (max-width: 385px) {
                    left: -2px;
                }
                @media screen and (max-width: 360px) {
                    left: -8px;
                }
                @media screen and (max-width: 345px) {
                    left: 18px;
                }
                @media screen and (max-width: 330px) {
                    left: 11px;
                }
            }
        }
        @media screen and (max-width: 768px) {
            p {
                font-weight: 600;
                opacity: 1;
                position: relative;
            }
        }
    }
}