.vkuiFixedLayout {
    &.border-bottom {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 1400px;
    margin: 0 auto;
    >div:not(.header-logo):not(.header-search):not(.header-search_new) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        position: relative;
        right: 121px
    }
    >div {
        width: 33%;
    }
    .with-search {
        width: 33% !important;
    }
}

.header-logo {
    margin-left: 140px;
    img {
        width: 180px;
        height: 50px;
    }
}

.header-search_new{
    position: absolute;
    top: 30%;
    left: 32%;
    display: flex;
    justify-content: center;
    width: 100%;
    .search-container{
        position: relative;
        display: flex;
        height: 35px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 1px 1px 10px rgba(0,0,0,.25);
        align-items:center;
        padding-left: 10px;
        padding-right: 10px;
        input{
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
        }
        img{
            padding-right: 10px;
            box-sizing: border-box;
            height: 20px;
            cursor: pointer;

            &:nth-of-type(2){
                margin-right: 15px;
            }
        }
    }
}

.header-search {
    flex-basis: content;
    display: flex;
    .search {
        width: 100%;
        border: 2px solid var(--blue);
    }
    .header-search__category,
    .header-search__action {
        border-radius: 0;
        border-bottom-left-radius: 25px;
        background: var(--blue);
        padding: 0 40px 0 16px;
        position: relative;
        cursor: pointer;
        p {
            font-size: 18px;
            margin: 12px 0;
            color: white;
            &:before,
            &:after {
                content: "";
                width: 13px;
                height: 2px;
                background: white;
                border-radius: 3px;
                position: absolute;
                top: 22px;
            }
            &:before {
                right: 20px;
                transform: rotate(45deg)
            }
            &:after {
                right: 12px;
                transform: rotate(-45deg)
            }
        }
    }
    .header-search__action {
        padding: 0 18px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 25px;
        p {
            &:before,
            &:after {
                content: none
            }
        }
    }
    input {
        padding: 0px 4px;
        font-size: 18px;
    }
    .searchIconImg {
        width: 22px;
    }
    .search__logo {
        padding: 0 5px;
        // height: 40px;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        >button {
            height: 32px;
        }
    }
    .cameraIconImg {
        width: 30px;
    }
    .newImg {
        z-index: 2;
        position: fixed;
        width: 28px;
        height: 28px;
        transform: translate(-10px, -24px);
        &.hide {
            display: none;
        }
        @media screen and (max-width: 425px) {
            transform: translate(-10px, -20px);
            width: 24px;
            height: 24px;
        }
    }
    .showTip {
        z-index: 4;
        position: fixed;
        transform: translate(-51px, -5px);
        display: none;
        padding: 5px 9px 0 13px;
        background: url('../../img/main/tip-before.svg');
        background-size: cover;
        p {
            white-space: nowrap;
            font-size: 12px;
            margin: 4px 2px;
            color: #888;
            font-weight: 300;
        }
        &.active {
            display: block;
        }
        @media screen and (max-width: 425px) {
            transform: translate(-37px, -4px);
            padding: 4px 6px;
            background: no-repeat url('../../img/main/tip-before.svg');
            background-size: contain;
            p {
                font-size: 10px;
                margin: 4px 4px;
                color: #888;
                font-weight: 300;
                white-space: nowrap;
            }
        }
    }
    .closerTip {
        z-index: 5;
        position: fixed;
        transform: translate(54px, -53px);
        display: none;
        width: 12px;
        &.active {
            display: block;
        }
        &.hide {
            display: none;
        }
        @media screen and (max-width: 425px) {
            transform: translate(50px, -49px);
            width: 10px;
        }
    }
}

.header.mobile {
    justify-content: start;
    .button_top {
        display: none;
    }
    .profile_user {
        display: none;
    }
    .header-search {
        display: none;
        padding: 8px 4px;
        width: 0;
    }

    .search, .header-search__action, .header-search__category{
        display: none;
    }
    .with-search{
        justify-content: flex-start!important;
        width: 100vw !important;
        .header_search{
            display: flex;
            justify-content: center;
        }
    }
    .header-logo{
        position: absolute;
        width: 100vw;
        text-align: center;
        padding: 8px 4px;
        margin: 0;
    }
}

.button_top {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 12px 5px;
    margin-bottom: 0;
    height: 72px;
    >div {
        max-width: 80px;
        padding: 10px 0;
        @media screen and (max-width: 768px) {
            padding: 7px 0 0;
        }
    }
    &.mobile {
        margin: 2px 5px;
        .text_button_top {
            font-size: 11px;
        }
        .count-of-messages {
            padding: 0 7px;
            font-size: 10px;
        }
    }
}

.button_top_tappable {
    border-radius: 20px !important;
}

.content_button_top {
    display: flex;
    padding: 0 12px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 41px;
}

.text_button_top {
    color: '#C2C2C2';
    padding-top: 4px;
    font-size: 13px;
}

.count-of-messages {
    position: absolute;
    bottom: 25px;
    right: 20px;
    background: var(--orange);
    color: white;
    padding: 0 8px;
    border-radius: 10px;
    font-size: 13px;
}

.profile_user {
    //right: 24px;
    //top: 24px;
    //width: 80px;
    margin: 12px 20px 0 10px;

    button {
        padding: 10px 5px;
        border-radius: 12px;
        //margin-bottom: 12px;
    }
    &.mobile {
        width: 60px;
        .vkuiButton__content {
            font-weight: 300;
        }
        button {
            padding: 8px 5px;
        }
    }
    .letterAvatar{
        margin: 5px auto;
    }
}

.headerNotice{
    position: relative;
    .notice{
        position: absolute;
        top: 8px;
        left: 37px;
        font-size: 12px;
        color: #F8961D;
    }
}

.headerIcon {
    width: 23px;
    @media screen and (max-width: 768px) {
        width: 28px;
    }
}