.card_user-modal {
  background-color: #fff;
  border-radius: 16px;
  text-align: center;
  padding: 20px 20px 4px;

  @media screen and (max-height: 590px) {
    *{
      padding: 0;
      margin: 0!important;
    }
    .button_control_account{
      margin-bottom: 10px!important;
      margin-top: 10px!important;
    }
  }
  .nav_menu_card_user {
    margin-top: 25px;
  }

  .menu_cell_button_card_user {
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }

  .menu_cell_button_card_user .vkuiSimpleCell__children {
    width: 100%;
    text-align: center;
  }

  .button_control_account {
    margin-bottom: 10px;
    background-color: #1E7CF2 !important;
    color: #fff !important;
    border-color: #1e7cf2 !important;
    border-radius: 16px !important;
  }

  .button_exit_account {
    border-radius: 16px !important;
    margin-top: -10px;
    background-color: #5F81FC;
    color: white;
  }

  .flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  .flex_center p {
    margin: 0;
  }

  .accounts_item {
    text-align: center;
    width: 100%;
    margin: 15px 0;
  }

  .accounts_item .vkuiSimpleCell__children {
    width: 100%;
  }

  .accounts_item b, .accounts_item p {
    margin: 0;
  }
}

.card_user {
  width: 340px;
  background-color: #fff;
  border-radius: 16px;
  position: absolute;
  right: 12px;
  top: 12px;
  text-align: center;
  padding: 20px;


  .nav_menu_card_user {
    margin-top: 25px;
  }

  .menu_cell_button_card_user {
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }

  .menu_cell_button_card_user .vkuiSimpleCell__children {
    width: 100%;
    text-align: center;
  }

  .button_control_account {
    margin-bottom: 10px;
    background-color: #1E7CF2 !important;
    color: #fff !important;
    border-color: #1e7cf2 !important;
    border-radius: 16px !important;
  }

  .button_exit_account {
    border-radius: 16px !important;
    margin-top: -10px;
    background-color: #5F81FC;
    color: white;
  }

  .flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  .flex_center p {
    margin: 0;
  }

  .accounts_item {
    text-align: center;
    width: 100%;
    margin: 15px 0;
  }

  .accounts_item .vkuiSimpleCell__children {
    width: 100%;
  }

  .accounts_item b, .accounts_item p {
    margin: 0;
  }
}