.cart-item {
    border-radius: 12px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, .1);
    position: relative;
    padding: 0;
    max-width: 400px;
    .cart-select-box {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 8px;
        left: 8px;
        background: #C4C4C4;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 100%;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }

    .cart-item-content{
        padding:10px;
        h3,p{
            margin: 5px 0;
        }
        .flex-col{
            flex-direction: column;
            justify-content: center;
        }

        .flex{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    }

}