.letterAvatar{
  height: 39px;
  width: 39px;
  color: #fff;
  font-size: 18px;
  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
  text-align: center;
  line-height: 39px;
  cursor: pointer;
  border-radius: 500px;
  background-color: var(--blue);
}