.modalProductCard{
  display: flex;
  flex-direction: column;
  .item{
    margin: -1px 0 0;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    img{
      width: 20px;
    }
  }
}