.notificationsAlert {
  position: fixed;
  z-index: 9999;
  right: 20px;
  top: 20px;
  box-sizing: border-box;

  .notificationAlert-item {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px #F8961D;
    padding: 15px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #fff;
    animation: showNotif .5s ease-out, closeNotif .3s 1.5s ease-in forwards;
    transition: all .3s ease-out;

    p {
      color: #000;
      font-weight: 500;
      margin: 0 0 0 10px;
    }

    .Icon {
      color: #F8961D;
    }
  }

  @keyframes showNotif {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes closeNotif {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(200px);
      opacity: 0;
      display: none;
      height: 0;
      margin-bottom: 0;
      padding: 0;
    }
  }
}