.ui-checkbox {
  display: flex;
  align-items: center;

  input {
    margin-right: 15px;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
    outline: none;
    min-width: 25px;
    min-height: 25px;
    border-radius: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
}