.productToCart {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  color: #707070;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #707070;
    cursor: pointer;
  }

  p {
    color: #707070;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    color: #000;
    font-size: 32px;
  }

  .item {
    margin: 20px 0;
    justify-content: space-between;
    align-items: normal;

    img {
      align-self: center;
      min-width: 20%;
      height: fit-content;
    }

    .title {
      font-size: 32px;
      font-weight: 500;
      color: #000;
    }

    .cost {
      align-self: center;
      color: #000;
    }

    .count {
      color: #000;
    }

    .col {
      justify-content: space-between;
    }

    .count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      width: 120px;
      height: 45px;
      font-size: 30px;
      border: 1px #707070 solid;
      padding-left: 20px;
      padding-right: 20px;
      align-self: center;

      .Icon {
        color: #000;
        cursor: pointer;
      }

      p {
        color: #000;
      }
    }

    .cost {
      font-size: 32px;
      color: #000;
      font-weight: 500;
      margin-left: 10px;
      @media screen and (max-width: 1024px) {
        margin-left: 0;
      }
    }

    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
  }

  .buttons {
    justify-content: space-between;
    margin-bottom: 20px;

    .row {
      justify-content: space-between;
      width: 46%;

      button {
        font-size: 16px;
        padding: 7px 15px;
        height: 35px;

        &.outline {
          color: #000;
          border-color: #000;
        }
      }
    }
  }

  .itemsHeader {
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;

    p {
      text-align: left;
      width: 100%;
      display: block;
      font-size: 24px;
    }

    .bold {
      font-weight: 500;
      color: #000;
    }
  }

  .sb {
    justify-content: space-between;
  }

  .lastSearchItem {
    width: 30%;

    .Card__in {
      padding: 5px 10px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }

    .lastSearchItem-desc {
      h4 {
        margin: 0;
        color: #000;
      }

      box-sizing: border-box;
    }

    p {
      margin: 0 0 10px;

      &:nth-child(2) {
        color: #707070;
      }
    }

    img {
      margin-left: -10px;
      margin-top: -5px;
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  @media screen and (max-width: 1024px) {
    * {
      font-size: 16px !important;
    }
    .item {
      justify-content: normal;

      img {
        min-width: unset;
        width: 20%;
        margin-right: 10px;
      }

      .col {
        width: 100%;
      }

      .row {
        width: 100%;
        justify-content: space-between;
      }

      .count {
        margin-top: 5px;
        border-color: #1E7CF2 !important;

        .Icon, p {
          color: #1E7CF2 !important;
        }

        height: 35px !important;
      }
    }
    .buttons {
      flex-direction: column;

      p {
        text-align: left;
        width: 100%;
        margin-bottom: 10px;
      }

      .row {
        width: 100%;
        gap: 5px;

        button {
          font-size: 12px !important;
          padding: 0 5px;
          margin: 0;
          border-radius: 7px;
          height: 30px;

          &.outline {
            color: #F8961D;
            box-shadow: 1px 1px 10px #F8961D;
            border: none;
          }
        }
      }
    }

    .scrollWrapper {
      max-width: calc(100vw - 20px);
      overflow: auto;
      display: flex;
      gap: 10px;
    }
  }
}

