.hiddenDotsMenu {
  width: 200px;
  position: absolute;
  z-index: 100;
  right: 24px;
  top: 60px;
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 120px;
  background-color: var(--background_content);
  animation: show 0.5s 1;
  animation-fill-mode: forwards;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  opacity: 0;
}

.screenCloser[dotsmenu="true"] {
  cursor: default;
  opacity: 0;
}

.hiddenDotsMenu .row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 42px;
  margin: 10px;
}

.hiddenDotsMenu .row svg {
  width: 38px;
  height: 38px;
}

.hiddenDotsMenu .row .Tappable {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
