.mobileFeed {
  padding: 63px 20px 0;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: fit-content;

  .card_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 45px;
    }
    @supports not (gap:15px){
      .card-item{
        margin-bottom: 15px;
      }
    }

    .cart-item {
      width: 100%;
      max-width: 500px;
    }
  }


  .card {
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #F3F3F3;
    padding: 0 10px;

    &.region {
      @media screen and (max-width: 340px){
        font-size: 14px;
      }
      @media screen and (max-width: 320px){
        font-size: 12px;
      }
      //margin-top: -12px;
      //z-index: 11;
      .col{
        align-items: flex-start;
      }
      .row .vkuiLink {
        text-transform: uppercase;
      }
      .vkuiCard__in {
        gap: 20px;
      }
      @supports not (gap:12px) {
        .vkuiCard__in {
          img {
            margin-right: 20px;
          }
        }
      }
      .row{
        @supports not (gap:12px){
          button{
            margin-right: 12px;
          }
        }
      }
    }

    &.more {
      cursor: pointer;
      color: #707070;
      background-color: #fff;
      box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);

      p {
        margin: 12px 0;
      }
    }

    .vkuiCard__in {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .vkuiLink {
      font-weight: 600;
    }
  }

  .row {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;

    p {
      margin: 0;
    }
  }

  .updateBtn {
    z-index: 10;
    position: absolute;
    bottom: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 320px) {
      .button-main{
        padding: 5px 0;
      }
    }

    .button-box {
      width: 80%;

      button {
        width: 100%;
        margin: 0;
      }
    }
  }

  .filter_header {
    display: flex;
    align-items: center;
    margin-top: -70px;
    gap: 20px;
    border-bottom: 2px solid #a7a7a7;

    p {
      font-weight: 600;
      font-size: 20px;
    }
  }

  .button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 10px;

    button {
      margin: 0;
      padding: 5px 10px;
    }
  }

  .radioList {
    p {
      color: #707070;
      margin-bottom: 5px;
    }

    .vkuiRadio {
      border-radius: 10px;
      margin: 5px 0;

      .vkuiRadio__icon {
        border: 2px solid #1E7CF2;
      }
    }

  }

  .popular_tab {
    height: calc(100vh - 200px);

    .popular {
      color: #707070;
      display: flex;
      gap: 20px;
      align-items: center;

      p {
        margin: 0;
      }

      img {
        width: 30px;
      }
    }

  }

  .select_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
    position: relative;
    height: 45px;
    margin: 10px 0;

    .col {
      align-items: flex-start;
      gap: 0;
      transition: all .5s;

      p {
        margin: 0;
        transition: all .5s;
      }

      p:nth-child(1) {
        color: #707070;
      }
    }

    select {
      cursor: pointer;
      height: 45px;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
    }
  }
}

