#footerLayout {
    width: 100% !important;
    left: 0;
}

.footer {
    width: 1400px;
    margin: 0 auto;
    .bar {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 24px;
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
        margin: 0 auto;
        width: 75%;
        @media screen and (max-width: 768px) {
            height: 40px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        .bar {
            width: calc(100% - 40px);
            padding-left: 0;
            a {
                text-align: center;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .footer {
        .bar {
            width: 100%;
            a {
                text-align: center;
                font-size: 12px;
                padding: 0;
                &:first-child {
                    padding-left: 15px;
                }
                &:last-child {
                    padding-right: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 330px) {
    .footer {
        .bar {
            width: 100%;
            a {
                &:first-child {
                    padding-left: 5px;
                }
                &:last-child {
                    padding-right: 5px;
                }
            }
        }
    }
}

.bar .textBlock {
    padding: 0px 8px;
}

.bar .Link {
    color: black;
    font-size: 16px;
}

.bar .Link:hover {
    text-decoration: underline;
}

.bar .Link:active {
    color: #dd4b39 !important;
}

.bar[active='false'] {
    z-index: -1;
    animation: move 1s 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.bottomMenu {
    margin-right: 34px !important;
}

.search.footer-search {
    border-radius: 30px;
    border: 1px solid var(--grey);
    width: 470px;
    margin: 0 auto;
    padding: 0 0 0 25px;
    transform: translateX(5px);
    .search__logo:first-child {
        display: none;
    }
}