#modal-create{
  @media screen and (min-width: 1024px) {
    .vkuiModalPage__in{
      width: 600px;
    }
  }
}

.modal_create {
  //padding: 0 37px 45px;
  //padding-left: 60px;
  display: flex;
  flex-direction: column;
  //gap: 40px;
  padding-bottom: 45px;

  .back{
    cursor: pointer;
    left: 20px;
    top: -4px;
    position: absolute;
  }
  .gap{
    display: flex;
    flex-direction: column;
    gap: 40px;
    @supports not (gap:40px){
      .modal_create-item{
        margin-bottom: 40px;
      }
    }
  }

  .firstTab{
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 0;

      .modal_create-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;

        &:last-of-type{
          border-left: 1px solid #707070;
        }

        img{
          margin-left: 0;
        }
        p{
          text-align: center;
          margin-left: 0;
          margin-right: 0;
          margin-top: 30px;
        }
      }
    }
  }

  .secondTab{
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0;
      padding-right: 40px;
      padding-left: 40px;
      box-sizing: border-box;
      img{
        height: 50px;
        margin: 20px 0;
        width: auto;
        flex-basis: 50px;
      }
      .modal_create-item{
        padding: 20px 5px;
        box-sizing: border-box;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        gap: 0;
        color: #707070;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        &:nth-child(1){
          border-top:none;
          border-left: none;
        }

        &:nth-child(2){
          border-top:none;
          border-right: none;
          margin-left: -1px;
        }

        &:nth-child(3){
          margin-top: -1px;
          border-bottom:none;
          border-left: none;
        }

        &:nth-child(4){
          margin-top: -1px;
          border-bottom:none;
          border-right: none;
          margin-left: -1px;
        }
        .title{
          max-width: 250px;
          flex-basis: 60px;
          height: 60px;
        }
        .desk{
          max-width: 250px;
          height: 70px;
          flex-basis: 70px;
        }
      }
    }
  }

  &-item {
    width: 100%;
    display: flex;
    gap: 50px;
    //justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: left;
    position: relative;
    @supports not (gap:50px){
      img{
        margin-right: 50px;
      }
    }
    p {
      display: block;
      text-align: left;
      width: 100%;
      margin: 0 0 0 calc(50% - 30px - 50px - 110px );
      font-size: 24px;
    }

    img {
      margin-left: 60px;
      //left: 30px;
      //position: absolute;
      width: 30px;
      height: 30px;
    }
  }
}