#panel_feed-desktop{
  .border-bottom{
    box-shadow: none;
  }
}

.desktopFeed {

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .mobileHeader {
    .header-logo {
      width: 95%;
      margin: 0 auto;
    }

    .searchBtn {
      left: 10px !important;
    }
  }

  .col-main {

    position: relative;
    margin-right: 20px;
    width: 360px;
    max-width: 360px;
    height: calc(100vh - 150px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    margin-top: 85px;
    padding-top: 25px;

    &.col-right{
      padding-left: 10px;
      box-shadow: -3px 0 3px -3px rgba(0,0,0,.25);
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
      padding: 2px 10px;
      margin-top: 75px;

      &.col-right{
        padding-left: 5px;
        box-shadow: none;
      }

      .back {
        position: absolute;
        left: 0;
        top: -10px;
        z-index: 100;
        display: flex;
        text-align: center;
        width: 100%;
        align-items: center;
        font-weight: 500;
        font-size: 20px;

        .Icon {
          margin-left: -5px;
        }

        p {
          margin: 0;
          width: 100%;
        }
      }
    }

    .wrapper {
      border-radius: 30px;
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;

      .slides {
        height: 100%;
        width: 100%;
        animation: slides 60s infinite alternate ease-in-out;
        display: flex;

        .slide {
          background-color: #F0F2F5;
          height: 100%;
          min-width: 100%;
        }

        @keyframes slides {
          0%, 20% {
            transform: translateX(0);
          }
          25%, 45% {
            transform: translateX(-100%);
          }
          50%, 70% {
            transform: translateX(-200%);
          }
          75%, 100% {
            transform: translateX(-300%);
          }
        }
      }

      .dots {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .activeDot{
          position: absolute;
          animation: slidesDot 60s infinite alternate ease-in-out;
          left: 155px;

          @keyframes slidesDot {
            0%, 20% {
              transform: translateX(0);
            }
            25%, 45% {
              transform: translateX(10px);
            }
            50%, 70% {
              transform: translateX(20px);
            }
            75%, 100% {
              transform: translateX(30px);
            }
          }
        }

        .dot {
          height: 5px;
          width: 5px;
          border-radius: 10px;
          background-color: #c4c4c4;
          margin-right: 5px;
          cursor: pointer;

          &.active {
            background-color: #1E7CF2;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    &:first-of-type {
      .row {
        p:first-of-type {
          flex-basis: 60%;
        }
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .main {
    width: 100%;

    * {
      box-sizing: border-box;
    }
  }

  .region {
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 20px;
    padding-right: 10px;

    .col {
      align-items: flex-start;
      justify-content: center;
    }

    p {
      margin: 0;
      font-size: 14px;
    }

    .Link {
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 10px;
      padding-right: 10px;
      color: #1E7CF2;
      font-weight: bold;
    }

    img {
      margin-right: 20px;
    }

    .create {
      width: 100%;
      align-items: center;

      input {
        border: none;
        font-size: 18px;
        margin-bottom: 10px;
      }

      img {
        height: 25px;
        cursor: pointer;
      }

      .ad {
        height: 100%;
      }

      .stars {
        height: 15px;
        @media screen and (max-width: 450px) {
          margin-right: 0;
        }
      }

      .row {
        justify-content: space-between;
        @media screen and (max-width: 500px) {
          input {
            width: 100%;
          }
          img {
            margin-right: 0;
          }
        }
      }
    }
  }

  .hello {
    h2 {
      font-weight: 500;
      text-align: center;

      &:first-of-type {
        margin-bottom: 18px;
      }

      &:last-of-type {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    p {
      color: #707070;
      text-align: center;
      margin-top: 0;
    }
  }

  h1 {
    margin-top: 0;
  }

  .cardList {
    margin-top: 20px;

    .cardList-item {
      margin-bottom: 30px;

      .review {
        position: relative;

        .input-container {
          border-radius: 10px;
          border: none;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
          width: 100%;
          height: 35px;
          margin-top: 12px;

          input {
            width: 65%;
          }
        }

        .Link {
          position: absolute;
          right: 10px;
          top: calc(35px / 2 - 8px);
        }
      }

      .row {
        align-items: center;
        justify-content: space-between;

        p {
          margin: 0;
          font-size: 18px;
          color: #707070;
        }

        margin-bottom: 10px;

        div {
          align-items: center;
          display: flex;

          img {
            border-radius: 1000px;
            margin-right: 10px;
            height: 40px;
            width: 40px;
            border: 1px solid #c4c4c4;
          }

          p {
            font-size: 18px;
            color: #000;
          }
        }

      }

      button {
        font-size: 14px;
      }
    }
  }

  .cardSlider {
    position: relative;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding-left: 52px;
    @media screen and (max-width: 1024px) {
      padding-left: 0;
    }
    transform: translateX(0);
    transition: all .75s;

    .watcher {
      margin: 0 auto;

      button {
        background: #fff;
        color: #1E7CF2;
        box-shadow: 1px 1px 10px #1E7CF2;
      }
    }

    .themesArrow {
      position: fixed;
      height: 40px;
      width: 40px;
      background-color: #707070;
      border-radius: 1000px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      top: calc(50% - 20px);
      cursor: pointer;
    }

    .left .themesArrow {
      left: 20px;
      transform: rotateY(180deg);
    }

    .right .themesArrow {
      left: 300px;
    }

    .Card {
      height: 300px;
      width: 245px;
      margin-right: 5px;
      border-radius: 20px;
      transform: scale(.9);
      transition: all .75s;
      padding: 20px 15px;
      user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      position: relative;

      .vkuiCard__in {
        height: 100%;
      }

      p {
        margin: 0;
      }

      .desk {
        color: #707070;
        text-align: center;
        display: flex;
        justify-content: center;
        height: 90px;

        .Link {
          margin-top: 5px;
        }
      }

      .closedAccount {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E5E5E5;
        color: #707070;
        flex-direction: column;
        border-radius: 5px;
        height: 60px;

        img {
          width: 10px;
          height: 10px;
          margin-bottom: 5px;
        }

        p {
          flex-basis: auto !important;
          height: fit-content;
          margin: 0;
        }
      }

      .close {
        position: absolute;
        top: -5px;
        right: 0;
        height: 15px;
        width: 15px;
        cursor: pointer;
      }

      .cardUserPhoto {
        min-width: 75px !important;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px !important;
        min-height: 75px !important;
        border-radius: 1000px;
        margin: 0 auto 15px;
        border: 1px solid #c4c4c4;

        &.letterAvatar {
          font-size: 30px;
        }
      }

      .title {
        h3 {
          width: 100%;
          margin: 0;
          font-weight: normal;
          font-size: 18px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;

          img {
            display: inline-block;
            margin-left: 5px;
            height: 20px;
            width: 20px;
          }
        }

        p {
          text-align: center;
          font-size: 14px;
          color: #707070;
          margin: 0 0 10px;
        }
      }

      .block {
        width: 60px;
        height: 60px;
        background-color: #c4c4c4;
        margin-right: 18px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      .button-box {
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;

        button {
          text-align: center;
          //margin-top: 30px;
          margin: 0 auto;
          border-radius: 5px;
          font-size: 12px;
          padding: 3px 25px;
        }
      }
    }

    .active {
      transform: scale(1);
    }

  }

  .themes {
    position: relative;
  }

  .themeCard {
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
    padding: 10px 20px;
    justify-content: space-between;
    width: 245px;
    margin: 0 auto 20px;
    font-size: 12px;
    @media screen and (max-width: 1024px) {
      margin: 0 30px 20px;
      width: calc(100% - 60px);
    }

    .col {
      justify-content: center;
    }

    .Icon {
      cursor: pointer;
    }

    .col:first-of-type {
      flex-basis: 90%;
    }

    .col:nth-last-of-type(2) {
      padding-right: 5px;
    }

    .col:last-of-type {
      padding-left: 5px;
      border-left: 1px #a6a6a6 solid;
    }
  }

  .themesArrow {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    background-color: #707070;
    border-radius: 1000px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - 20px);
    cursor: pointer;
  }

  .block {
    .titles {
      color: #707070;
      justify-content: space-between;

      p {
        margin: 0 0 15px;
      }
    }
  }

  .footer {
    //position: absolute;
    bottom: 0;
    width: 100%;

    p {
      margin: 5px 0;
    }
  }

  .popular {
    p {
      margin: 0;
    }

    .col {
      .Link {
        color: #000;
        text-align: left;
      }

      p {
        cursor: pointer;
      }

      margin-bottom: 15px;
    }
  }

  .userBlock {
    position: relative;
    align-items: center;
    margin-bottom: 20px;

    img {
      border-radius: 100000px;
      margin-right: 20px;
    }

    p {
      margin: 10px 0 0;
    }

    .title {
      display: flex;
      align-items: center;

      img {
        display: inline-block;
        margin-left: 5px;
      }
    }

    .Link {
      position: absolute;
      top: calc(50% - 8px);
      right: 0;
    }
  }

  .filter_main {
    position: fixed;
    top: 0;
    bottom: 88px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    max-height: calc(100vh - 90px);
  }

  .banner {
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 110px;
    color: white;
    //padding-left: 10%;
    //padding-right: 10%;
    box-sizing: border-box;
    padding-top: 18px;

    .wrap {
      box-sizing: border-box;
      max-width: 1110px;
      margin: 0 auto;
      text-align: center;
      justify-content: space-between;
    }

    p {
      margin: 0;
    }

    .button-box {
      margin-top: 0;
      margin-bottom: 10px;

      button {
        font-weight: 600;
      }
    }

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }

    .logo_transparent-wrap {
      height: 70px;
      width: 70px;
      border-radius: 1000px;
      border: 3px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo_transparent {
        height: 40px;
        width: 30px;
      }
    }

    .Link {
      font-weight: 600;
    }
  }

  @media screen and (max-width: 1024px) {
    .col-main {
      max-width: 330px;
    }
    .recomentations_for_you{
      flex-basis: 100%!important;
    }
    .hello {
      max-width: 260px;
      margin: auto;

      h2 {
        font-weight: 500;
        text-align: center;

        &:first-of-type {
          margin-bottom: 18px;
          font-size: 24px;
        }

        &:last-of-type {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 20px;
        }
      }

      p {
        color: #707070;
        text-align: center;
        margin-top: 0;
        font-size: 12px;
      }
    }
    .hello-second {
      h2 {
        font-size: 18px !important;
      }
    }
    .cart-item {
      margin: 0 auto;
    }
    .cardList-item {
      .row {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;

        > p {
          text-align: right;
        }
      }
    }
    .review {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    .create .col {
      width: 100%;
    }

    .rightCol {
      margin-top: 30px;
      display: flex;
      flex-direction: column-reverse;
      font-size: 20px;

      .popular {
        font-size: 20px;
      }
    }

    .row .titles {
      color: #000;
      font-size: 20px;
      font-weight: 500;
      margin-top: 10px;
    }

    .more {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .userBlock .col p {
      color: #707070;
    }
    .cardSlider {
      padding-left: 30px;
    }
  }
}