.modalCardCreateConfirm{
  h2,h3{
    width: 100%;
    text-align: center;
  }
  .row{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}