.filters{
  .filter_header {
    display: flex;
    align-items: center;
    //margin-top: -70px;
    gap: 20px;
    position: relative;
    z-index: 100000;
    border-bottom: 2px solid #a7a7a7;

    p {
      font-weight: 600;
      font-size: 20px;
    }
  }
  .select_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
    position: relative;
    height: 45px;
    margin: 10px 0;

    .col {
      align-items: flex-start;
      gap: 0;
      transition: all .5s;

      p {
        margin: 0;
        transition: all .5s;
      }

      p:nth-child(1) {
        color: #707070;
      }
    }

    select {
      cursor: pointer;
      height: 45px;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
    }
  }
}