.delAlert{
  .vkuiAlert__actions{
    justify-content: space-between!important;
  }
  .vkuiAlert__button--destructive{
    background-color: #fff;
    color: red;
  }
  .vkuiAlert__button--cancel{
    color: #707070;
  }
}