@import "./index.scss";
.root {
    overflow: hidden;
}

.bottom_navigation {
    background-color: #eaeaea;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 2px;

    .createIcon{
        width: 45px;
        height: 25px;
    }
}

.search:hover{
    box-shadow: 0 1px 6px rgba(112,112,112,.4);
}

.bottom_navigation_about{
    background-color: #e0e0e0;
    height: 40px;
    .current{
        font-weight: 800;
        color: #000;
    }
    p{
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        margin-top: 0;
    }
}

.epic-hidden .vkuiTabbar {
    display: none;
    height: 0;
}

.epicIcon {
    width: 26px;
    height: 26px;
}

.bottom_navigation .vkuiTabbarItem__in{
    justify-content: flex-start;
    padding-top: 12px;
}

.epicIcon+p {
    font-size: 10px;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

.cardItemCount{
    position: relative;
    .notice{
        color: #F8961D;
        position: absolute;
        top: 0;
        left: 16px;
    }
}

.withNotice {
    position: relative;
    cursor: pointer;
    .notice{
        border-radius: 5px;
        text-align: center;
        line-height: 12px;
        width: 15px;
        height: 12px;
        font-size: 10px;
        background-color: var(--orange);
        bottom: -2px;
        color:white;
        position: absolute;
        left: 15px;
    }
}

.vkuiTabbarItem__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grecaptcha-badge {
    bottom: 55px !important
}