:root {
    --blue: rgba(30, 124, 242, 1);
    --transition: 0.2s;
    --orange: rgba(248, 150, 29, 1);
    --green: #00a400;
    --grey: rgba(112, 112, 112, 1);
}

.flex {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.flex .centered {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.Tappable {
    cursor: pointer;
}