.desktopMenu__Buttons .menuCell {
  padding: 6px 0;
}

.desktopMenu {
  width: 192px;
  position: absolute;
  z-index: 100;
  right: 22px;
  bottom: 40px;
  border-radius: 2px;
  border: 1px solid #999;
  background-color: var(--background_content);
  animation: show 0.5s 1;
  animation-fill-mode: forwards;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.desktopMenu__Buttons {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 12px;
  font-size: 13px;
  color: gray;
  fill: gray;
}
