.sharePopup {
  padding: 20px;
  height: 100%;
  .hidden{
    display: none;
  }

  .button-box{
    margin: 0;
    button{
      width: 100%;
      margin: 0!important;
    }
  }



  .rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;

    &.marginTop{
      margin-top: 20px;
    }

    .row {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 40px;
      justify-content: space-around;

      .item {
        color: inherit;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
        cursor: pointer;

        img {
          width: 70px;
          height: 70px;

          &.smaller {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

.vkuiPopoutRoot__modal.PopoutRoot__modal {
  z-index: 10000;
}