.switcher{
  background-color: #c0c0c0;
  height: 15px;
  width: 30px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: .3s all ease;
}

.switcher .circle{
  background-color: #fff;
  height: 11px;
  width: 11px;
  margin-left: 2px;
  transform: translateY(2px);
  border-radius: 1000px;
  transition: .3s all ease;
}

.switcher.on{
  background-color: #1979F4;
}

.switcher.on .circle{
  transform: translateY(2px) translateX(14px);
}