.imgCard {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.deleteButton {
    position:absolute;
    right: 1px;
    top: 1px;
    border: 0;
    background-color: var(--dynamic_red);
    padding: 3px;
    border-radius: 10px;
}

.card_nav {
    text-align: center;
}

.card_nav .vkuiSimpleCell__content {
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
}